/*
Xurrent REST API

Xurrent REST API. Global conventions (injected on collection GETs): pagination (`per_page`, `search_after`, `search_before`), field selection (`fields`), ordering (`sort`), predefined state (`state`), and `X-Xurrent-Language`. Resource-specific filters use additional query parameters per https://developer.xurrent.com/v1/general/filtering/ — use `collection_query.go` helpers or append encoded query pairs when filters are not modeled as named parameters.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package xurrent

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ExportAPIService ExportAPI service
type ExportAPIService service

type ApiGetImportRequest struct {
	ctx context.Context
	ApiService *ExportAPIService
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetImportRequest) Authorization(authorization string) ApiGetImportRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetImportRequest) X4meAccount(x4meAccount string) ApiGetImportRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetImportRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetImportRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetImportRequest) PerPage(perPage int32) ApiGetImportRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetImportRequest) SearchAfter(searchAfter string) ApiGetImportRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetImportRequest) SearchBefore(searchBefore string) ApiGetImportRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetImportRequest) Fields(fields string) ApiGetImportRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetImportRequest) Sort(sort string) ApiGetImportRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetImportRequest) State(state string) ApiGetImportRequest {
	r.state = &state
	return r
}

func (r ApiGetImportRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetImportExecute(r)
}

/*
GetImport GetExportJobsList (all)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetImportRequest
*/
func (a *ExportAPIService) GetImport(ctx context.Context) ApiGetImportRequest {
	return ApiGetImportRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ExportAPIService) GetImportExecute(r ApiGetImportRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExportAPIService.GetImport")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/import"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetImportTokenRequest struct {
	ctx context.Context
	ApiService *ExportAPIService
	token string
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	ifNoneMatch *string
}

func (r ApiGetImportTokenRequest) Authorization(authorization string) ApiGetImportTokenRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetImportTokenRequest) X4meAccount(x4meAccount string) ApiGetImportTokenRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetImportTokenRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetImportTokenRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Conditional GET; returns 304 Not Modified when unchanged.
func (r ApiGetImportTokenRequest) IfNoneMatch(ifNoneMatch string) ApiGetImportTokenRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

func (r ApiGetImportTokenRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetImportTokenExecute(r)
}

/*
GetImportToken GetExportJobProperties

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token
 @return ApiGetImportTokenRequest
*/
func (a *ExportAPIService) GetImportToken(ctx context.Context, token string) ApiGetImportTokenRequest {
	return ApiGetImportTokenRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
func (a *ExportAPIService) GetImportTokenExecute(r ApiGetImportTokenRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExportAPIService.GetImportToken")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/import/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPostExportRequest struct {
	ctx context.Context
	ApiService *ExportAPIService
	authorization *string
	x4meAccount *string
	type_ *string
	from *int32
	exportFormat *string
	lineSeparator *string
}

func (r ApiPostExportRequest) Authorization(authorization string) ApiPostExportRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPostExportRequest) X4meAccount(x4meAccount string) ApiPostExportRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiPostExportRequest) Type_(type_ string) ApiPostExportRequest {
	r.type_ = &type_
	return r
}

func (r ApiPostExportRequest) From(from int32) ApiPostExportRequest {
	r.from = &from
	return r
}

func (r ApiPostExportRequest) ExportFormat(exportFormat string) ApiPostExportRequest {
	r.exportFormat = &exportFormat
	return r
}

func (r ApiPostExportRequest) LineSeparator(lineSeparator string) ApiPostExportRequest {
	r.lineSeparator = &lineSeparator
	return r
}

func (r ApiPostExportRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostExportExecute(r)
}

/*
PostExport RunNewExport (sites, teams)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostExportRequest
*/
func (a *ExportAPIService) PostExport(ctx context.Context) ApiPostExportRequest {
	return ApiPostExportRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ExportAPIService) PostExportExecute(r ApiPostExportRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExportAPIService.PostExport")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "from", r.from, "", "")
	}
	if r.exportFormat != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "export_format", r.exportFormat, "", "")
	}
	if r.lineSeparator != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "line_separator", r.lineSeparator, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
