/*
Xurrent REST API

Xurrent REST API. Global conventions (injected on collection GETs): pagination (`per_page`, `search_after`, `search_before`), field selection (`fields`), ordering (`sort`), predefined state (`state`), and `X-Xurrent-Language`. Resource-specific filters use additional query parameters per https://developer.xurrent.com/v1/general/filtering/ — use `collection_query.go` helpers or append encoded query pairs when filters are not modeled as named parameters.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package xurrent

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SurveysAPIService SurveysAPI service
type SurveysAPIService service

type ApiGetSurveysIdSurveyQuestionsRequest struct {
	ctx context.Context
	ApiService *SurveysAPIService
	id int32
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetSurveysIdSurveyQuestionsRequest) Authorization(authorization string) ApiGetSurveysIdSurveyQuestionsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetSurveysIdSurveyQuestionsRequest) X4meAccount(x4meAccount string) ApiGetSurveysIdSurveyQuestionsRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetSurveysIdSurveyQuestionsRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetSurveysIdSurveyQuestionsRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetSurveysIdSurveyQuestionsRequest) PerPage(perPage int32) ApiGetSurveysIdSurveyQuestionsRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetSurveysIdSurveyQuestionsRequest) SearchAfter(searchAfter string) ApiGetSurveysIdSurveyQuestionsRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetSurveysIdSurveyQuestionsRequest) SearchBefore(searchBefore string) ApiGetSurveysIdSurveyQuestionsRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetSurveysIdSurveyQuestionsRequest) Fields(fields string) ApiGetSurveysIdSurveyQuestionsRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetSurveysIdSurveyQuestionsRequest) Sort(sort string) ApiGetSurveysIdSurveyQuestionsRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetSurveysIdSurveyQuestionsRequest) State(state string) ApiGetSurveysIdSurveyQuestionsRequest {
	r.state = &state
	return r
}

func (r ApiGetSurveysIdSurveyQuestionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSurveysIdSurveyQuestionsExecute(r)
}

/*
GetSurveysIdSurveyQuestions List questions for a survey

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetSurveysIdSurveyQuestionsRequest
*/
func (a *SurveysAPIService) GetSurveysIdSurveyQuestions(ctx context.Context, id int32) ApiGetSurveysIdSurveyQuestionsRequest {
	return ApiGetSurveysIdSurveyQuestionsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SurveysAPIService) GetSurveysIdSurveyQuestionsExecute(r ApiGetSurveysIdSurveyQuestionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SurveysAPIService.GetSurveysIdSurveyQuestions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/surveys/{id}/survey_questions"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
