/*
DIT PUBLIC 4ME REST API REQUEST EXAMPLES

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package xurrent

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// Class40ExportAPIService Class40ExportAPI service
type Class40ExportAPIService service

type ApiV1ExportPostRequest struct {
	ctx           context.Context
	ApiService    *Class40ExportAPIService
	authorization *string
	x4meAccount   *string
	type_         *string
	from          *int32
	exportFormat  *string
	lineSeparator *string
}

func (r ApiV1ExportPostRequest) Authorization(authorization string) ApiV1ExportPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiV1ExportPostRequest) X4meAccount(x4meAccount string) ApiV1ExportPostRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiV1ExportPostRequest) Type_(type_ string) ApiV1ExportPostRequest {
	r.type_ = &type_
	return r
}

func (r ApiV1ExportPostRequest) From(from int32) ApiV1ExportPostRequest {
	r.from = &from
	return r
}

func (r ApiV1ExportPostRequest) ExportFormat(exportFormat string) ApiV1ExportPostRequest {
	r.exportFormat = &exportFormat
	return r
}

func (r ApiV1ExportPostRequest) LineSeparator(lineSeparator string) ApiV1ExportPostRequest {
	r.lineSeparator = &lineSeparator
	return r
}

func (r ApiV1ExportPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1ExportPostExecute(r)
}

/*
V1ExportPost RunNewExport (sites, teams)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1ExportPostRequest
*/
func (a *Class40ExportAPIService) V1ExportPost(ctx context.Context) ApiV1ExportPostRequest {
	return ApiV1ExportPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Class40ExportAPIService) V1ExportPostExecute(r ApiV1ExportPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Class40ExportAPIService.V1ExportPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "from", r.from, "", "")
	}
	if r.exportFormat != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "export_format", r.exportFormat, "", "")
	}
	if r.lineSeparator != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "line_separator", r.lineSeparator, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV1Import75715a414338bb1516ee782a470e5372GetRequest struct {
	ctx           context.Context
	ApiService    *Class40ExportAPIService
	authorization *string
	x4meAccount   *string
}

func (r ApiV1Import75715a414338bb1516ee782a470e5372GetRequest) Authorization(authorization string) ApiV1Import75715a414338bb1516ee782a470e5372GetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiV1Import75715a414338bb1516ee782a470e5372GetRequest) X4meAccount(x4meAccount string) ApiV1Import75715a414338bb1516ee782a470e5372GetRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiV1Import75715a414338bb1516ee782a470e5372GetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1Import75715a414338bb1516ee782a470e5372GetExecute(r)
}

/*
V1Import75715a414338bb1516ee782a470e5372Get GetExportJobProperties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1Import75715a414338bb1516ee782a470e5372GetRequest
*/
func (a *Class40ExportAPIService) V1Import75715a414338bb1516ee782a470e5372Get(ctx context.Context) ApiV1Import75715a414338bb1516ee782a470e5372GetRequest {
	return ApiV1Import75715a414338bb1516ee782a470e5372GetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Class40ExportAPIService) V1Import75715a414338bb1516ee782a470e5372GetExecute(r ApiV1Import75715a414338bb1516ee782a470e5372GetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Class40ExportAPIService.V1Import75715a414338bb1516ee782a470e5372Get")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/import/75715a414338bb1516ee782a470e5372"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV1ImportGetRequest struct {
	ctx           context.Context
	ApiService    *Class40ExportAPIService
	authorization *string
	x4meAccount   *string
}

func (r ApiV1ImportGetRequest) Authorization(authorization string) ApiV1ImportGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiV1ImportGetRequest) X4meAccount(x4meAccount string) ApiV1ImportGetRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiV1ImportGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1ImportGetExecute(r)
}

/*
V1ImportGet GetExportJobsList (all)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1ImportGetRequest
*/
func (a *Class40ExportAPIService) V1ImportGet(ctx context.Context) ApiV1ImportGetRequest {
	return ApiV1ImportGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Class40ExportAPIService) V1ImportGetExecute(r ApiV1ImportGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Class40ExportAPIService.V1ImportGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/import"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
