/*
DIT PUBLIC 4ME REST API REQUEST EXAMPLES

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package xurrent

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// Class12SitesAdressesAPIService Class12SitesAdressesAPI service
type Class12SitesAdressesAPIService service

type ApiV1Sites1GetRequest struct {
	ctx           context.Context
	ApiService    *Class12SitesAdressesAPIService
	authorization *string
	x4meAccount   *string
}

func (r ApiV1Sites1GetRequest) Authorization(authorization string) ApiV1Sites1GetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiV1Sites1GetRequest) X4meAccount(x4meAccount string) ApiV1Sites1GetRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiV1Sites1GetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1Sites1GetExecute(r)
}

/*
V1Sites1Get GetSiteProperties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1Sites1GetRequest
*/
func (a *Class12SitesAdressesAPIService) V1Sites1Get(ctx context.Context) ApiV1Sites1GetRequest {
	return ApiV1Sites1GetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Class12SitesAdressesAPIService) V1Sites1GetExecute(r ApiV1Sites1GetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Class12SitesAdressesAPIService.V1Sites1Get")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/1"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
