/*
Xurrent REST API

Xurrent REST API. Global conventions (injected on collection GETs): pagination (`per_page`, `search_after`, `search_before`), field selection (`fields`), ordering (`sort`), predefined state (`state`), and `X-Xurrent-Language`. Resource-specific filters use additional query parameters per https://developer.xurrent.com/v1/general/filtering/ — use `collection_query.go` helpers or append encoded query pairs when filters are not modeled as named parameters.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package xurrent

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SitesAPIService SitesAPI service
type SitesAPIService service

type ApiGetSitesRequest struct {
	ctx context.Context
	ApiService *SitesAPIService
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetSitesRequest) Authorization(authorization string) ApiGetSitesRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetSitesRequest) X4meAccount(x4meAccount string) ApiGetSitesRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetSitesRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetSitesRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetSitesRequest) PerPage(perPage int32) ApiGetSitesRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetSitesRequest) SearchAfter(searchAfter string) ApiGetSitesRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetSitesRequest) SearchBefore(searchBefore string) ApiGetSitesRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetSitesRequest) Fields(fields string) ApiGetSitesRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetSitesRequest) Sort(sort string) ApiGetSitesRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetSitesRequest) State(state string) ApiGetSitesRequest {
	r.state = &state
	return r
}

func (r ApiGetSitesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetSitesExecute(r)
}

/*
GetSites List sites

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSitesRequest
*/
func (a *SitesAPIService) GetSites(ctx context.Context) ApiGetSitesRequest {
	return ApiGetSitesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []map[string]interface{}
func (a *SitesAPIService) GetSitesExecute(r ApiGetSitesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.GetSites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSitesIdRequest struct {
	ctx context.Context
	ApiService *SitesAPIService
	id int32
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	ifNoneMatch *string
}

func (r ApiGetSitesIdRequest) Authorization(authorization string) ApiGetSitesIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetSitesIdRequest) X4meAccount(x4meAccount string) ApiGetSitesIdRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetSitesIdRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetSitesIdRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Conditional GET; returns 304 Not Modified when unchanged.
func (r ApiGetSitesIdRequest) IfNoneMatch(ifNoneMatch string) ApiGetSitesIdRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

func (r ApiGetSitesIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSitesIdExecute(r)
}

/*
GetSitesId GetSiteProperties

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetSitesIdRequest
*/
func (a *SitesAPIService) GetSitesId(ctx context.Context, id int32) ApiGetSitesIdRequest {
	return ApiGetSitesIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SitesAPIService) GetSitesIdExecute(r ApiGetSitesIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.GetSitesId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPatchSitesIdRequest struct {
	ctx context.Context
	ApiService *SitesAPIService
	id int32
	authorization *string
	x4meAccount *string
	body *map[string]interface{}
}

func (r ApiPatchSitesIdRequest) Authorization(authorization string) ApiPatchSitesIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPatchSitesIdRequest) X4meAccount(x4meAccount string) ApiPatchSitesIdRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiPatchSitesIdRequest) Body(body map[string]interface{}) ApiPatchSitesIdRequest {
	r.body = &body
	return r
}

func (r ApiPatchSitesIdRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PatchSitesIdExecute(r)
}

/*
PatchSitesId Update a site

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPatchSitesIdRequest
*/
func (a *SitesAPIService) PatchSitesId(ctx context.Context, id int32) ApiPatchSitesIdRequest {
	return ApiPatchSitesIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *SitesAPIService) PatchSitesIdExecute(r ApiPatchSitesIdRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PatchSitesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostSitesRequest struct {
	ctx context.Context
	ApiService *SitesAPIService
	authorization *string
	x4meAccount *string
	body *map[string]interface{}
}

func (r ApiPostSitesRequest) Authorization(authorization string) ApiPostSitesRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPostSitesRequest) X4meAccount(x4meAccount string) ApiPostSitesRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiPostSitesRequest) Body(body map[string]interface{}) ApiPostSitesRequest {
	r.body = &body
	return r
}

func (r ApiPostSitesRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PostSitesExecute(r)
}

/*
PostSites Create a site

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostSitesRequest
*/
func (a *SitesAPIService) PostSites(ctx context.Context) ApiPostSitesRequest {
	return ApiPostSitesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *SitesAPIService) PostSitesExecute(r ApiPostSitesRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PostSites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
