/*
Xurrent REST API

Xurrent REST API. Global conventions (injected on collection GETs): pagination (`per_page`, `search_after`, `search_before`), field selection (`fields`), ordering (`sort`), predefined state (`state`), and `X-Xurrent-Language`. Resource-specific filters use additional query parameters per https://developer.xurrent.com/v1/general/filtering/ — use `collection_query.go` helpers or append encoded query pairs when filters are not modeled as named parameters.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package xurrent

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ReservationsAPIService ReservationsAPI service
type ReservationsAPIService service

type ApiGetReservationsRequest struct {
	ctx context.Context
	ApiService *ReservationsAPIService
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetReservationsRequest) Authorization(authorization string) ApiGetReservationsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetReservationsRequest) X4meAccount(x4meAccount string) ApiGetReservationsRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetReservationsRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetReservationsRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetReservationsRequest) PerPage(perPage int32) ApiGetReservationsRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetReservationsRequest) SearchAfter(searchAfter string) ApiGetReservationsRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetReservationsRequest) SearchBefore(searchBefore string) ApiGetReservationsRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetReservationsRequest) Fields(fields string) ApiGetReservationsRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetReservationsRequest) Sort(sort string) ApiGetReservationsRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetReservationsRequest) State(state string) ApiGetReservationsRequest {
	r.state = &state
	return r
}

func (r ApiGetReservationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetReservationsExecute(r)
}

/*
GetReservations List reservations

See https://developer.xurrent.com/v1/reservations/

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetReservationsRequest
*/
func (a *ReservationsAPIService) GetReservations(ctx context.Context) ApiGetReservationsRequest {
	return ApiGetReservationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ReservationsAPIService) GetReservationsExecute(r ApiGetReservationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationsAPIService.GetReservations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reservations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetReservationsCompletedRequest struct {
	ctx context.Context
	ApiService *ReservationsAPIService
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetReservationsCompletedRequest) Authorization(authorization string) ApiGetReservationsCompletedRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetReservationsCompletedRequest) X4meAccount(x4meAccount string) ApiGetReservationsCompletedRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetReservationsCompletedRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetReservationsCompletedRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetReservationsCompletedRequest) PerPage(perPage int32) ApiGetReservationsCompletedRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetReservationsCompletedRequest) SearchAfter(searchAfter string) ApiGetReservationsCompletedRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetReservationsCompletedRequest) SearchBefore(searchBefore string) ApiGetReservationsCompletedRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetReservationsCompletedRequest) Fields(fields string) ApiGetReservationsCompletedRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetReservationsCompletedRequest) Sort(sort string) ApiGetReservationsCompletedRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetReservationsCompletedRequest) State(state string) ApiGetReservationsCompletedRequest {
	r.state = &state
	return r
}

func (r ApiGetReservationsCompletedRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetReservationsCompletedExecute(r)
}

/*
GetReservationsCompleted List completed reservations

Predefined filter per https://developer.xurrent.com/v1/reservations/

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetReservationsCompletedRequest
*/
func (a *ReservationsAPIService) GetReservationsCompleted(ctx context.Context) ApiGetReservationsCompletedRequest {
	return ApiGetReservationsCompletedRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ReservationsAPIService) GetReservationsCompletedExecute(r ApiGetReservationsCompletedRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationsAPIService.GetReservationsCompleted")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reservations/completed"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetReservationsIdRequest struct {
	ctx context.Context
	ApiService *ReservationsAPIService
	id int32
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	ifNoneMatch *string
}

func (r ApiGetReservationsIdRequest) Authorization(authorization string) ApiGetReservationsIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetReservationsIdRequest) X4meAccount(x4meAccount string) ApiGetReservationsIdRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetReservationsIdRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetReservationsIdRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Conditional GET; returns 304 Not Modified when unchanged.
func (r ApiGetReservationsIdRequest) IfNoneMatch(ifNoneMatch string) ApiGetReservationsIdRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

func (r ApiGetReservationsIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetReservationsIdExecute(r)
}

/*
GetReservationsId Get a single reservation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetReservationsIdRequest
*/
func (a *ReservationsAPIService) GetReservationsId(ctx context.Context, id int32) ApiGetReservationsIdRequest {
	return ApiGetReservationsIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ReservationsAPIService) GetReservationsIdExecute(r ApiGetReservationsIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationsAPIService.GetReservationsId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reservations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetReservationsOpenRequest struct {
	ctx context.Context
	ApiService *ReservationsAPIService
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetReservationsOpenRequest) Authorization(authorization string) ApiGetReservationsOpenRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetReservationsOpenRequest) X4meAccount(x4meAccount string) ApiGetReservationsOpenRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetReservationsOpenRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetReservationsOpenRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetReservationsOpenRequest) PerPage(perPage int32) ApiGetReservationsOpenRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetReservationsOpenRequest) SearchAfter(searchAfter string) ApiGetReservationsOpenRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetReservationsOpenRequest) SearchBefore(searchBefore string) ApiGetReservationsOpenRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetReservationsOpenRequest) Fields(fields string) ApiGetReservationsOpenRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetReservationsOpenRequest) Sort(sort string) ApiGetReservationsOpenRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetReservationsOpenRequest) State(state string) ApiGetReservationsOpenRequest {
	r.state = &state
	return r
}

func (r ApiGetReservationsOpenRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetReservationsOpenExecute(r)
}

/*
GetReservationsOpen List open reservations

Predefined filter per https://developer.xurrent.com/v1/reservations/

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetReservationsOpenRequest
*/
func (a *ReservationsAPIService) GetReservationsOpen(ctx context.Context) ApiGetReservationsOpenRequest {
	return ApiGetReservationsOpenRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ReservationsAPIService) GetReservationsOpenExecute(r ApiGetReservationsOpenRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationsAPIService.GetReservationsOpen")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reservations/open"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPatchReservationsIdRequest struct {
	ctx context.Context
	ApiService *ReservationsAPIService
	id int32
	authorization *string
	x4meAccount *string
	body *map[string]interface{}
}

func (r ApiPatchReservationsIdRequest) Authorization(authorization string) ApiPatchReservationsIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPatchReservationsIdRequest) X4meAccount(x4meAccount string) ApiPatchReservationsIdRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiPatchReservationsIdRequest) Body(body map[string]interface{}) ApiPatchReservationsIdRequest {
	r.body = &body
	return r
}

func (r ApiPatchReservationsIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.PatchReservationsIdExecute(r)
}

/*
PatchReservationsId Update reservation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPatchReservationsIdRequest
*/
func (a *ReservationsAPIService) PatchReservationsId(ctx context.Context, id int32) ApiPatchReservationsIdRequest {
	return ApiPatchReservationsIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ReservationsAPIService) PatchReservationsIdExecute(r ApiPatchReservationsIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationsAPIService.PatchReservationsId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reservations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPostReservationsRequest struct {
	ctx context.Context
	ApiService *ReservationsAPIService
	authorization *string
	x4meAccount *string
	body *map[string]interface{}
}

func (r ApiPostReservationsRequest) Authorization(authorization string) ApiPostReservationsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPostReservationsRequest) X4meAccount(x4meAccount string) ApiPostReservationsRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiPostReservationsRequest) Body(body map[string]interface{}) ApiPostReservationsRequest {
	r.body = &body
	return r
}

func (r ApiPostReservationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostReservationsExecute(r)
}

/*
PostReservations Create reservation

https://developer.xurrent.com/v1/reservations/

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostReservationsRequest
*/
func (a *ReservationsAPIService) PostReservations(ctx context.Context) ApiPostReservationsRequest {
	return ApiPostReservationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ReservationsAPIService) PostReservationsExecute(r ApiPostReservationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationsAPIService.PostReservations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reservations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
