/*
Xurrent REST API

Xurrent REST API. Global conventions (injected on collection GETs): pagination (`per_page`, `search_after`, `search_before`), field selection (`fields`), ordering (`sort`), predefined state (`state`), and `X-Xurrent-Language`. Resource-specific filters use additional query parameters per https://developer.xurrent.com/v1/general/filtering/ — use `collection_query.go` helpers or append encoded query pairs when filters are not modeled as named parameters.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package xurrent

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ServiceLevelAgreementsAPIService ServiceLevelAgreementsAPI service
type ServiceLevelAgreementsAPIService service

type ApiGetSlasRequest struct {
	ctx context.Context
	ApiService *ServiceLevelAgreementsAPIService
	authorization *string
	x4meAccount *string
	serviceInstance *int32
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetSlasRequest) Authorization(authorization string) ApiGetSlasRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetSlasRequest) X4meAccount(x4meAccount string) ApiGetSlasRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiGetSlasRequest) ServiceInstance(serviceInstance int32) ApiGetSlasRequest {
	r.serviceInstance = &serviceInstance
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetSlasRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetSlasRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetSlasRequest) PerPage(perPage int32) ApiGetSlasRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetSlasRequest) SearchAfter(searchAfter string) ApiGetSlasRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetSlasRequest) SearchBefore(searchBefore string) ApiGetSlasRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetSlasRequest) Fields(fields string) ApiGetSlasRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetSlasRequest) Sort(sort string) ApiGetSlasRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetSlasRequest) State(state string) ApiGetSlasRequest {
	r.state = &state
	return r
}

func (r ApiGetSlasRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetSlasExecute(r)
}

/*
GetSlas GetSLAListAllByService

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSlasRequest
*/
func (a *ServiceLevelAgreementsAPIService) GetSlas(ctx context.Context) ApiGetSlasRequest {
	return ApiGetSlasRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ServiceLevelAgreementsAPIService) GetSlasExecute(r ApiGetSlasRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceLevelAgreementsAPIService.GetSlas")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/slas"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.serviceInstance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "service_instance", r.serviceInstance, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSlasActiveRequest struct {
	ctx context.Context
	ApiService *ServiceLevelAgreementsAPIService
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetSlasActiveRequest) Authorization(authorization string) ApiGetSlasActiveRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetSlasActiveRequest) X4meAccount(x4meAccount string) ApiGetSlasActiveRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetSlasActiveRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetSlasActiveRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetSlasActiveRequest) PerPage(perPage int32) ApiGetSlasActiveRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetSlasActiveRequest) SearchAfter(searchAfter string) ApiGetSlasActiveRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetSlasActiveRequest) SearchBefore(searchBefore string) ApiGetSlasActiveRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetSlasActiveRequest) Fields(fields string) ApiGetSlasActiveRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetSlasActiveRequest) Sort(sort string) ApiGetSlasActiveRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetSlasActiveRequest) State(state string) ApiGetSlasActiveRequest {
	r.state = &state
	return r
}

func (r ApiGetSlasActiveRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetSlasActiveExecute(r)
}

/*
GetSlasActive GetSLAListActive

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSlasActiveRequest
*/
func (a *ServiceLevelAgreementsAPIService) GetSlasActive(ctx context.Context) ApiGetSlasActiveRequest {
	return ApiGetSlasActiveRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ServiceLevelAgreementsAPIService) GetSlasActiveExecute(r ApiGetSlasActiveRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceLevelAgreementsAPIService.GetSlasActive")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/slas/active"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSlasIdRequest struct {
	ctx context.Context
	ApiService *ServiceLevelAgreementsAPIService
	id int32
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	ifNoneMatch *string
}

func (r ApiGetSlasIdRequest) Authorization(authorization string) ApiGetSlasIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetSlasIdRequest) X4meAccount(x4meAccount string) ApiGetSlasIdRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetSlasIdRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetSlasIdRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Conditional GET; returns 304 Not Modified when unchanged.
func (r ApiGetSlasIdRequest) IfNoneMatch(ifNoneMatch string) ApiGetSlasIdRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

func (r ApiGetSlasIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSlasIdExecute(r)
}

/*
GetSlasId GetSLAProperties

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetSlasIdRequest
*/
func (a *ServiceLevelAgreementsAPIService) GetSlasId(ctx context.Context, id int32) ApiGetSlasIdRequest {
	return ApiGetSlasIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ServiceLevelAgreementsAPIService) GetSlasIdExecute(r ApiGetSlasIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceLevelAgreementsAPIService.GetSlasId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/slas/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetSlasInactiveRequest struct {
	ctx context.Context
	ApiService *ServiceLevelAgreementsAPIService
	authorization *string
	x4meAccount *string
	xXurrentLanguage *string
	perPage *int32
	searchAfter *string
	searchBefore *string
	fields *string
	sort *string
	state *string
}

func (r ApiGetSlasInactiveRequest) Authorization(authorization string) ApiGetSlasInactiveRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetSlasInactiveRequest) X4meAccount(x4meAccount string) ApiGetSlasInactiveRequest {
	r.x4meAccount = &x4meAccount
	return r
}

// Override response language for enums/errors (e.g. nl, fr). See API introduction.
func (r ApiGetSlasInactiveRequest) XXurrentLanguage(xXurrentLanguage string) ApiGetSlasInactiveRequest {
	r.xXurrentLanguage = &xXurrentLanguage
	return r
}

// Page size (max 100). See Pagination docs.
func (r ApiGetSlasInactiveRequest) PerPage(perPage int32) ApiGetSlasInactiveRequest {
	r.perPage = &perPage
	return r
}

// Cursor for next page (from Link rel&#x3D;next).
func (r ApiGetSlasInactiveRequest) SearchAfter(searchAfter string) ApiGetSlasInactiveRequest {
	r.searchAfter = &searchAfter
	return r
}

// Cursor for previous page (from Link rel&#x3D;prev).
func (r ApiGetSlasInactiveRequest) SearchBefore(searchBefore string) ApiGetSlasInactiveRequest {
	r.searchBefore = &searchBefore
	return r
}

// Comma-separated fields for collections (field selection).
func (r ApiGetSlasInactiveRequest) Fields(fields string) ApiGetSlasInactiveRequest {
	r.fields = &fields
	return r
}

// Sort fields, comma-separated; prefix with - for descending. See Ordering docs.
func (r ApiGetSlasInactiveRequest) Sort(sort string) ApiGetSlasInactiveRequest {
	r.sort = &sort
	return r
}

// Predefined filter name (alternative to path /state). See Filtering docs.
func (r ApiGetSlasInactiveRequest) State(state string) ApiGetSlasInactiveRequest {
	r.state = &state
	return r
}

func (r ApiGetSlasInactiveRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetSlasInactiveExecute(r)
}

/*
GetSlasInactive GetSLAListInactive

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSlasInactiveRequest
*/
func (a *ServiceLevelAgreementsAPIService) GetSlasInactive(ctx context.Context) ApiGetSlasInactiveRequest {
	return ApiGetSlasInactiveRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ServiceLevelAgreementsAPIService) GetSlasInactiveExecute(r ApiGetSlasInactiveRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceLevelAgreementsAPIService.GetSlasInactive")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/slas/inactive"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.searchAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_after", r.searchAfter, "form", "")
	}
	if r.searchBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_before", r.searchBefore, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	if r.xXurrentLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Xurrent-Language", r.xXurrentLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchSlasIdRequest struct {
	ctx context.Context
	ApiService *ServiceLevelAgreementsAPIService
	id int32
	authorization *string
	x4meAccount *string
	body *map[string]interface{}
}

func (r ApiPatchSlasIdRequest) Authorization(authorization string) ApiPatchSlasIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPatchSlasIdRequest) X4meAccount(x4meAccount string) ApiPatchSlasIdRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiPatchSlasIdRequest) Body(body map[string]interface{}) ApiPatchSlasIdRequest {
	r.body = &body
	return r
}

func (r ApiPatchSlasIdRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PatchSlasIdExecute(r)
}

/*
PatchSlasId Update an SLA

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPatchSlasIdRequest
*/
func (a *ServiceLevelAgreementsAPIService) PatchSlasId(ctx context.Context, id int32) ApiPatchSlasIdRequest {
	return ApiPatchSlasIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ServiceLevelAgreementsAPIService) PatchSlasIdExecute(r ApiPatchSlasIdRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceLevelAgreementsAPIService.PatchSlasId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/slas/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostSlasRequest struct {
	ctx context.Context
	ApiService *ServiceLevelAgreementsAPIService
	authorization *string
	x4meAccount *string
	body *map[string]interface{}
}

func (r ApiPostSlasRequest) Authorization(authorization string) ApiPostSlasRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPostSlasRequest) X4meAccount(x4meAccount string) ApiPostSlasRequest {
	r.x4meAccount = &x4meAccount
	return r
}

func (r ApiPostSlasRequest) Body(body map[string]interface{}) ApiPostSlasRequest {
	r.body = &body
	return r
}

func (r ApiPostSlasRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PostSlasExecute(r)
}

/*
PostSlas Create an SLA

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostSlasRequest
*/
func (a *ServiceLevelAgreementsAPIService) PostSlas(ctx context.Context) ApiPostSlasRequest {
	return ApiPostSlasRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ServiceLevelAgreementsAPIService) PostSlasExecute(r ApiPostSlasRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceLevelAgreementsAPIService.PostSlas")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/slas"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.x4meAccount != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-4me-Account", r.x4meAccount, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
