openapi: 3.0.0
info:
  title: DIT PUBLIC 4ME REST API REQUEST EXAMPLES
  version: 1.0.0
servers:
- url: https://api.xurrent.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
- name: 0. Events
- name: 0. Events > requests
- name: 1. Requests
- name: 2. People
- name: 3. Attachments
- name: 4. Teams
- name: 5.1 Config Items
- name: 5.2 CI Relations
- name: 6. Services
- name: 7. Calendars
- name: 8. Service Offerings
- name: 9. Organizations
- name: 10. Workflows
- name: 11. Tasks
- name: 12. Sites (Adresses)
- name: 13. Products
- name: 14. Product Categories
- name: 15. UI Extensions
- name: 16. Service Level Agreements
- name: 18. Request Templates
- name: 19. Reservations
- name: 20. Notes
- name: 21. Automation Rules
- name: 22. Search
- name: 23. Custom Collections and Elements
- name: 30. Import
- name: 40. Export
- name: 50. Account
- name: 60. Problems
- name: 100. Other
paths:
  /v1/events:
    post:
      tags:
      - 0. Events
      summary: CreateNewIncident (top impact)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                source: '{{external system name}}'
                sourceID: '{{external system obj id}}'
                service_instance_id: '{{service_instance_id}}'
                subject: '{{subject}}'
                template_id: '{{request template id}}'
                ci_id: '{{some ci id_inf system}}'
                impact: top
                category: '{{category}}'
                downtime_start_at: '2024-02-21T17:59:26'
                note: '{{some comment or request description}}'
                custom_fields:
                - id: ext_system_record_id
                  value: '{{external system obj id}}'
                - id: ext_system_link_id
                  value: '{{external system obj link}}'
                - id: ext_ci_where_reg_event
                  value: '{{ext_ci_where_reg_event}}'
                - id: ext_event_trigger_desc
                  value: '{{trigger desc}}'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{system_user acess token}}
      - name: X-4me-Account
        in: header
        schema:
          type: string
        example: '{{X-4me-Account}}'
      responses:
        '201':
          description: Created
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Thu, 28 Jul 2022 10:13:45 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '3460'
            Connection:
              schema:
                type: string
                example: keep-alive
            Cache-Control:
              schema:
                type: string
                example: no-store
            Location:
              schema:
                type: string
                example: https://sc-its.4me-qa.mos.ru/requests/78288
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'none'
            ETag:
              schema:
                type: string
                example: W/"f4e6ffd002cb5e589175816a098f1109"
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3597'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1659006756'
            X-Request-Id:
              schema:
                type: string
                example: Rootdc6f994c-5c7c-4555-929e-18a7eae98c9f
            X-Runtime:
              schema:
                type: number
                example: '433.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                addressed: false
                agile_board: null
                agile_board_column: null
                agile_board_column_position: null
                assignment_count: 1
                attachments: []
                category: rfc
                change:
                  id: 14864
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                ci: null
                ci_id: null
                completed_at: null
                completion_reason: null
                created_at: '2022-07-28T13:13:44+03:00'
                created_by:
                  id: 128702
                  name: "\u041F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C \u0434\u043B\u044F \u041C\u042D\u0428"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTI4NzAy
                custom_fields:
                - id: fio
                  value: "\u041F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C \u0428\u043A\u043E\u043B\u0430 123"
                - id: telephone
                  value: '+7821112222'
                - id: email
                  value: Shkola@mos.ru
                - id: organization
                  value: "\u0413\u0411\u0423 \u0428\u043A\u043E\u043B\u0430 123"
                - id: adress
                  value: "\u041C\u043E\u0441\u043A\u0432\u0430, \u0443\u043B \u0420\
                    \u044F\u0437\u0430\u043D\u0441\u043A\u0430\u044F, \u0434. 44"
                - id: incident_id
                  value: SD*******
                desired_completion_at: null
                downtime_end_at: null
                downtime_start_at: null
                grouped_into: null
                grouping: none
                id: 78288
                impact: null
                knowledge_article: null
                major_incident_status: null
                member: null
                new_assignment: true
                next_target_at: '2022-07-28T13:43:44+03:00'
                organization:
                  id: 694
                  name: "\u0413\u0410\u0423 \u0426\u0435\u043D\u0442\u0440 \u0446\u0438\
                    \u0444\u0440\u043E\u0432\u0438\u0437\u0430\u0446\u0438\u0438 \u043E\
                    \u0431\u0440\u0430\u0437\u043E\u0432\u0430\u043D\u0438\u044F"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Pcmdhbml6YXRpb24vNjk0
                planned_effort: null
                problem: null
                product_backlog: null
                product_backlog_estimate: null
                product_backlog_position: null
                project: null
                provider_not_accountable: false
                provider_was_not_accountable: false
                reopen_count: 0
                requested_by:
                  id: 4245
                  name: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requested_for:
                  id: 4245
                  name: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requester_resolution_target_at: '2022-08-01T13:13:00+03:00'
                reservation: null
                resolution_duration: null
                resolution_target_at: '2022-08-01T13:13:00+03:00'
                response_target_at: '2022-07-28T13:43:44+03:00'
                reviewed: true
                satisfaction: null
                service_instance:
                  id: 1336
                  name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  localized_name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTMzNg
                source: HPSM
                sourceID: SD00000001
                status: assigned
                subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                  \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                supplier: null
                supplier_requestID: null
                task: null
                team:
                  id: 306
                  name: "\u041F\u0414\u0420\u0414 \u0418\u0422\u0421. \u0410\u0412\
                    \u0418\u041B\u0415\u041A\u0421"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMwNg
                template:
                  id: 1358
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  localized_subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9SZXF1ZXN0VGVtcGxhdGUvMTM1OA
                updated_at: '2022-07-28T13:13:44+03:00'
                urgent: false
                waiting_until: null
                workflow:
                  id: 14864
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvNzgyODg
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 03 Aug 2022 14:16:22 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '40'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3594'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1659537735'
            X-Request-Id:
              schema:
                type: string
                example: Rootb0ba7143-7491-489b-af23-eec39a8e453d
            X-Runtime:
              schema:
                type: number
                example: '12.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                message: Invalid JSON string posted
        '401':
          description: Unauthorized
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 03 Aug 2022 14:17:08 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '26'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: Roote6e31204-3552-4216-970a-436cee2d30e0
            X-Runtime:
              schema:
                type: number
                example: '155.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                message: Unauthorized
        '422':
          description: Unprocessable Entity
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 03 Aug 2022 14:17:44 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '275'
            Connection:
              schema:
                type: string
                example: keep-alive
            Cache-Control:
              schema:
                type: string
                example: no-store
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'none'
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3592'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1659537735'
            X-Request-Id:
              schema:
                type: string
                example: Root001d214d-5fd3-48a9-bacc-34d5b13272bd
            X-Runtime:
              schema:
                type: number
                example: '108.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                message: Validation Failed
                errors:
                - - custom_fields
                  - "\u0421\u0438\u043D\u0442\u0430\u043A\u0441\u0438\u0447\u0435\u0441\
                    \u043A\u0430\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0432\
                    \ \u043F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C\u0441\u043A\u0438\u0445 \u043F\u043E\u043B\u044F\u0445\
                    : \u0434\u043E\u043B\u0436\u0435\u043D \u0431\u044B\u0442\u044C\
                    \ \u043C\u0430\u0441\u0441\u0438\u0432 \u0445\u044D\u0448\u0435\
                    \u0439, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u043A\
                    \u0430\u0436\u0434\u044B\u0439 \u0445\u044D\u0448 \u0438\u043C\
                    \u0435\u0435\u0442 \u043A\u043B\u044E\u0447\u0438 'id' \u0438\
                    \ 'value'"
        '502':
          description: Bad Gateway
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 07 Sep 2022 19:58:36 GMT
            Content-Type:
              schema:
                type: string
                example: text/html
            Content-Length:
              schema:
                type: integer
                example: '157'
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            text/plain:
              schema:
                type: string
              example: "<html>\n    <head>\n        <title>502 Bad Gateway</title>\n\
                \    </head>\n    <body>\n        <center>\n            <h1>502 Bad\
                \ Gateway</h1>\n        </center>\n        <hr>\n        <center>nginx/1.20.1</center>\n\
                \    </body>\n</html>"
  /v1/requests/1:
    patch:
      tags:
      - 3. Attachments
      summary: Add Attach (multi) - AddAttachmentsToRequest
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                note_attachments:
                - key: '{{attache url-1}}'
                - key: '{{attache url-2}}'
                - key: '{{attache url-3}}'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{system_user acess token}}
      - name: X-4me-Account
        in: header
        schema:
          type: string
        example: '{{X-4me-Account}}'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Tue, 09 Aug 2022 16:10:28 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Cache-Control:
              schema:
                type: string
                example: no-store
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'none'
            ETag:
              schema:
                type: string
                example: W/"660250ffc229d58b78b8d8bb13b865fe"
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3572'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1660063576'
            X-Request-Id:
              schema:
                type: string
                example: Root61abf02b-580f-4061-8a3c-0e5ddafae0e2
            X-Runtime:
              schema:
                type: number
                example: '118.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                addressed: false
                agile_board: null
                agile_board_column: null
                agile_board_column_position: null
                assignment_count: 1
                attachments:
                - name: eng_FilesToSendWithExecution.jpg
                  key: attachments/369/2022/08/08/128702/1659957161.0496082-2f515c026f0ec7545d2076ce08eef36e71a39d2a7ac537b244bf1618f1d6075d/eng_FilesToSendWithExecution.jpg
                  uri: https://moscow.4me-qa.mos.ru/storage/attachments/369/2022/08/08/128702/1659957161.0496082-2f515c026f0ec7545d2076ce08eef36e71a39d2a7ac537b244bf1618f1d6075d/eng_FilesToSendWithExecution.jpg?X-4me-Expiration=1660147828&X-4me-Signature=d6e37f6b58a28c412954de89415537f784c11a10d8f1cf2f2d4a48132b5792db
                  inline: false
                  size: 0
                - name: addInfoRequest_eng_txt.txt
                  key: attachments/369/2022/08/09/128702/1660061940.2560534-d551944ae48215963e94cce2d058efeed0eebb20ad08d2c663365c97fb57e896/addInfoRequest_eng_txt.txt
                  uri: https://moscow.4me-qa.mos.ru/storage/attachments/369/2022/08/09/128702/1660061940.2560534-d551944ae48215963e94cce2d058efeed0eebb20ad08d2c663365c97fb57e896/addInfoRequest_eng_txt.txt?X-4me-Expiration=1660147828&X-4me-Signature=7ff197c784cb32a226bd5e075e7c4245e415c392af55b102dbac2bd0aabc393c
                  inline: false
                  size: 0
                category: rfc
                change:
                  id: 15184
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNTE4NA
                ci: null
                ci_id: null
                completed_at: null
                completion_reason: null
                created_at: '2022-08-08T14:02:05+03:00'
                created_by:
                  id: 128702
                  name: "\u041F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C \u0434\u043B\u044F \u041C\u042D\u0428"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTI4NzAy
                custom_fields:
                - id: fio
                  value: "\u041F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C \u0428\u043A\u043E\u043B\u0430 123"
                - id: telephone
                  value: '+7821112222'
                - id: email
                  value: zobovdd@it.mos.ru
                - id: organization
                  value: "\u0413\u0411\u0423 \u0428\u043A\u043E\u043B\u0430 123"
                - id: adress
                  value: "\u041C\u043E\u0441\u043A\u0432\u0430, \u0443\u043B \u0420\
                    \u044F\u0437\u0430\u043D\u0441\u043A\u0430\u044F, \u0434. 44"
                - id: incident_id
                  value: SD*******
                - id: reqs_for_tel_work
                  value: '84959579357'
                - id: reqs_for_email
                  value: medvedevamm1@edu.mos.ru
                - id: reqs_for_oiv
                  value: "\u0413\u0410\u0423 \u0426\u0435\u043D\u0442\u0440 \u0446\
                    \u0438\u0444\u0440\u043E\u0432\u0438\u0437\u0430\u0446\u0438\u0438\
                    \ \u043E\u0431\u0440\u0430\u0437\u043E\u0432\u0430\u043D\u0438\
                    \u044F"
                - id: reqs_for_tel_mobile
                  value: '89296435118'
                - id: reqs_for_fio
                  value: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                - id: reqs_by_fio
                  value: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                - id: reqs_by_tel_work
                  value: '84959579357'
                - id: reqs_by_email
                  value: medvedevamm1@edu.mos.ru
                - id: reqs_by_oiv
                  value: "\u0413\u0410\u0423 \u0426\u0435\u043D\u0442\u0440 \u0446\
                    \u0438\u0444\u0440\u043E\u0432\u0438\u0437\u0430\u0446\u0438\u0438\
                    \ \u043E\u0431\u0440\u0430\u0437\u043E\u0432\u0430\u043D\u0438\
                    \u044F"
                - id: reqs_by_tel_mobile
                  value: '89296435118'
                - id: service_name
                  value: "\u0414\u043E\u0433\u043E\u0432\u043E\u0440 \u043E\u0442\
                    \ 14.03.2022 \u2116 500-474 \u043D\u0430 \u043F\u043E\u0441\u0442\
                    \u0430\u0432\u043A\u0443 \u043E\u0431\u043E\u0440\u0443\u0434\u043E\
                    \u0432\u0430\u043D\u0438\u044F"
                - id: subject
                  value: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                - id: created_at
                  value: '2022-08-08T11:02:05Z'
                - id: reqs_for_site
                  value: "1-\u0439 \u041A\u0440\u0430\u0441\u043D\u043E\u0433\u0432\
                    \u0430\u0440\u0434\u0435\u0439\u0441\u043A\u0438\u0439 \u043F\u0440\
                    \u043E\u0435\u0437\u0434 , \u0434.21, \u0441\u0442\u0440.1 (\u041E\
                    \u041A\u041E)"
                - id: reqs_by_site
                  value: "1-\u0439 \u041A\u0440\u0430\u0441\u043D\u043E\u0433\u0432\
                    \u0430\u0440\u0434\u0435\u0439\u0441\u043A\u0438\u0439 \u043F\u0440\
                    \u043E\u0435\u0437\u0434 , \u0434.21, \u0441\u0442\u0440.1 (\u041E\
                    \u041A\u041E)"
                - id: reqs_first_note
                  value: SOME COMMENT
                desired_completion_at: null
                downtime_end_at: null
                downtime_start_at: null
                grouped_into: null
                grouping: none
                id: 79038
                impact: null
                knowledge_article: null
                major_incident_status: null
                member: null
                new_assignment: false
                next_target_at: '2022-08-15T18:00:00+03:00'
                organization:
                  id: 694
                  name: "\u0413\u0410\u0423 \u0426\u0435\u043D\u0442\u0440 \u0446\u0438\
                    \u0444\u0440\u043E\u0432\u0438\u0437\u0430\u0446\u0438\u0438 \u043E\
                    \u0431\u0440\u0430\u0437\u043E\u0432\u0430\u043D\u0438\u044F"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Pcmdhbml6YXRpb24vNjk0
                planned_effort: null
                problem: null
                product_backlog: null
                product_backlog_estimate: null
                product_backlog_position: null
                project: null
                provider_not_accountable: false
                provider_was_not_accountable: false
                reopen_count: 0
                requested_by:
                  id: 4245
                  name: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requested_for:
                  id: 4245
                  name: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requester_resolution_target_at: '2022-08-15T18:00:00+03:00'
                reservation: null
                resolution_duration: null
                resolution_target_at: '2022-08-15T18:00:00+03:00'
                response_target_at: null
                reviewed: true
                satisfaction: null
                service_instance:
                  id: 1336
                  name: "\u041F\u043E\u0441\u0442\u0430\u0432\u043A\u0430 \u043F\u0430\
                    \u043D\u0435\u043B\u0435\u0439 \u043F\u043E \u0434\u043E\u0433\
                    \u043E\u0432\u043E\u0440\u0443 \u2116 500-474 (\u0410\u0432\u0438\
                    \u043B\u0435\u043A\u0441)"
                  localized_name: "\u041F\u043E\u0441\u0442\u0430\u0432\u043A\u0430\
                    \ \u043F\u0430\u043D\u0435\u043B\u0435\u0439 \u043F\u043E \u0434\
                    \u043E\u0433\u043E\u0432\u043E\u0440\u0443 \u2116 500-474 (\u0410\
                    \u0432\u0438\u043B\u0435\u043A\u0441)"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTMzNg
                source: HPSM
                sourceID: SD00000001
                status: workflow_pending
                subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                  \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                supplier: null
                supplier_requestID: null
                task: null
                team:
                  id: 306
                  name: "\u041F\u0414\u0420\u0414. \u0410\u041D\u041E \u0426\u0422\
                    . \u0410\u0432\u0438\u043B\u0435\u043A\u0441 \u043F\u043E\u0441\
                    \u0442\u0430\u0432\u043A\u0430"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMwNg
                template:
                  id: 1358
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  localized_subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9SZXF1ZXN0VGVtcGxhdGUvMTM1OA
                updated_at: '2022-08-09T19:10:00+03:00'
                urgent: false
                waiting_until: null
                workflow:
                  id: 15184
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNTE4NA
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvNzkwMzg
    put:
      tags:
      - 1. Requests
      summary: SetNewStatus (no_reply)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                status: completed
                completion_reason: no_reply
                note: '{{some comment or request description}}'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{system_user acess token}}
      - name: X-4me-Account
        in: header
        schema:
          type: string
        example: '{{X-4me-Account}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
      - 1. Requests
      summary: GetIssuesProperties
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{system_user acess token}}
      - name: X-4me-Account
        in: header
        schema:
          type: string
        example: '{{X-4me-Account}}'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Thu, 28 Jul 2022 10:17:20 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Cache-Control:
              schema:
                type: string
                example: no-store
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'none'
            ETag:
              schema:
                type: string
                example: W/"5706f63b086dbf431030886af61add09"
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3594'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1659006756'
            X-Request-Id:
              schema:
                type: string
                example: Root03eaf45a-c6f2-4293-9cc5-78958b475cc3
            X-Runtime:
              schema:
                type: number
                example: '89.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                addressed: false
                agile_board: null
                agile_board_column: null
                agile_board_column_position: null
                assignment_count: 1
                attachments: []
                category: rfc
                change:
                  id: 14864
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                ci: null
                ci_id: null
                completed_at: null
                completion_reason: null
                created_at: '2022-07-28T13:13:44+03:00'
                created_by:
                  id: 128702
                  name: "\u041F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C \u0434\u043B\u044F \u041C\u042D\u0428"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTI4NzAy
                custom_fields:
                - id: fio
                  value: "\u041F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C \u0428\u043A\u043E\u043B\u0430 123"
                - id: telephone
                  value: '+7821112222'
                - id: email
                  value: Shkola@mos.ru
                - id: organization
                  value: "\u0413\u0411\u0423 \u0428\u043A\u043E\u043B\u0430 123"
                - id: adress
                  value: "\u041C\u043E\u0441\u043A\u0432\u0430, \u0443\u043B \u0420\
                    \u044F\u0437\u0430\u043D\u0441\u043A\u0430\u044F, \u0434. 44"
                - id: incident_id
                  value: SD*******
                - id: reqs_for_tel_work
                  value: '84959579357'
                - id: reqs_for_email
                  value: medvedevamm1@edu.mos.ru
                - id: reqs_for_oiv
                  value: "\u0413\u0410\u0423 \u0426\u0435\u043D\u0442\u0440 \u0446\
                    \u0438\u0444\u0440\u043E\u0432\u0438\u0437\u0430\u0446\u0438\u0438\
                    \ \u043E\u0431\u0440\u0430\u0437\u043E\u0432\u0430\u043D\u0438\
                    \u044F"
                - id: reqs_for_tel_mobile
                  value: '89296435118'
                - id: reqs_for_fio
                  value: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                - id: reqs_by_fio
                  value: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                - id: reqs_by_tel_work
                  value: '84959579357'
                - id: reqs_by_email
                  value: medvedevamm1@edu.mos.ru
                - id: reqs_by_oiv
                  value: "\u0413\u0410\u0423 \u0426\u0435\u043D\u0442\u0440 \u0446\
                    \u0438\u0444\u0440\u043E\u0432\u0438\u0437\u0430\u0446\u0438\u0438\
                    \ \u043E\u0431\u0440\u0430\u0437\u043E\u0432\u0430\u043D\u0438\
                    \u044F"
                - id: reqs_by_tel_mobile
                  value: '89296435118'
                - id: service_name
                  value: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                - id: subject
                  value: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                - id: created_at
                  value: '2022-07-28T10:13:44Z'
                - id: reqs_for_site
                  value: "1-\u0439 \u041A\u0440\u0430\u0441\u043D\u043E\u0433\u0432\
                    \u0430\u0440\u0434\u0435\u0439\u0441\u043A\u0438\u0439 \u043F\u0440\
                    \u043E\u0435\u0437\u0434 , \u0434.21, \u0441\u0442\u0440.1 (\u041E\
                    \u041A\u041E)"
                - id: reqs_by_site
                  value: "1-\u0439 \u041A\u0440\u0430\u0441\u043D\u043E\u0433\u0432\
                    \u0430\u0440\u0434\u0435\u0439\u0441\u043A\u0438\u0439 \u043F\u0440\
                    \u043E\u0435\u0437\u0434 , \u0434.21, \u0441\u0442\u0440.1 (\u041E\
                    \u041A\u041E)"
                - id: reqs_first_note
                  value: "\u041A\u0430\u043A\u043E\u0439\u0442\u043E \u043A\u043E\u043C\
                    \u043C\u0435\u043D\u0442\u0430\u0440\u0438\u0439 2"
                desired_completion_at: null
                downtime_end_at: null
                downtime_start_at: null
                grouped_into: null
                grouping: none
                id: 78288
                impact: null
                knowledge_article: null
                major_incident_status: null
                member: null
                new_assignment: true
                next_target_at: '2022-07-28T13:43:44+03:00'
                organization:
                  id: 694
                  name: "\u0413\u0410\u0423 \u0426\u0435\u043D\u0442\u0440 \u0446\u0438\
                    \u0444\u0440\u043E\u0432\u0438\u0437\u0430\u0446\u0438\u0438 \u043E\
                    \u0431\u0440\u0430\u0437\u043E\u0432\u0430\u043D\u0438\u044F"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Pcmdhbml6YXRpb24vNjk0
                planned_effort: null
                problem: null
                product_backlog: null
                product_backlog_estimate: null
                product_backlog_position: null
                project: null
                provider_not_accountable: false
                provider_was_not_accountable: false
                reopen_count: 0
                requested_by:
                  id: 4245
                  name: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requested_for:
                  id: 4245
                  name: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requester_resolution_target_at: '2022-08-01T13:13:00+03:00'
                reservation: null
                resolution_duration: null
                resolution_target_at: '2022-08-01T13:13:00+03:00'
                response_target_at: '2022-07-28T13:43:44+03:00'
                reviewed: true
                satisfaction: null
                service_instance:
                  id: 1336
                  name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  localized_name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTMzNg
                source: HPSM
                sourceID: SD00000001
                status: assigned
                subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                  \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                supplier: null
                supplier_requestID: null
                task: null
                team:
                  id: 306
                  name: "\u041F\u0414\u0420\u0414 \u0418\u0422\u0421. \u0410\u0412\
                    \u0418\u041B\u0415\u041A\u0421"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMwNg
                template:
                  id: 1358
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  localized_subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9SZXF1ZXN0VGVtcGxhdGUvMTM1OA
                updated_at: '2022-07-28T13:13:48+03:00'
                urgent: false
                waiting_until: null
                workflow:
                  id: 14864
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvNzgyODg
  /v1/requests:
    post:
      tags:
      - 19. Reservations
      summary: Create a reservation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                requested_by: '{{4me user id}}'
                requested_for: '{{4me user id}}'
                service_instance_id: '{{service_instance_id}}'
                subject: '{{subject}}'
                template: '{{request template id}}'
                category: '{{category}}'
                note: '{{some comment or request description}}'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{system_user acess token}}
      - name: X-4me-Account
        in: header
        schema:
          type: string
        example: '{{X-4me-Account}}'
      responses:
        '201':
          description: Created
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Thu, 28 Jul 2022 10:13:45 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '3460'
            Connection:
              schema:
                type: string
                example: keep-alive
            Cache-Control:
              schema:
                type: string
                example: no-store
            Location:
              schema:
                type: string
                example: https://sc-its.4me-qa.mos.ru/requests/78288
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'none'
            ETag:
              schema:
                type: string
                example: W/"f4e6ffd002cb5e589175816a098f1109"
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3597'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1659006756'
            X-Request-Id:
              schema:
                type: string
                example: Rootdc6f994c-5c7c-4555-929e-18a7eae98c9f
            X-Runtime:
              schema:
                type: number
                example: '433.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                addressed: false
                agile_board: null
                agile_board_column: null
                agile_board_column_position: null
                assignment_count: 1
                attachments: []
                category: rfc
                change:
                  id: 14864
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                ci: null
                ci_id: null
                completed_at: null
                completion_reason: null
                created_at: '2022-07-28T13:13:44+03:00'
                created_by:
                  id: 128702
                  name: "\u041F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C \u0434\u043B\u044F \u041C\u042D\u0428"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTI4NzAy
                custom_fields:
                - id: fio
                  value: "\u041F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C \u0428\u043A\u043E\u043B\u0430 123"
                - id: telephone
                  value: '+7821112222'
                - id: email
                  value: Shkola@mos.ru
                - id: organization
                  value: "\u0413\u0411\u0423 \u0428\u043A\u043E\u043B\u0430 123"
                - id: adress
                  value: "\u041C\u043E\u0441\u043A\u0432\u0430, \u0443\u043B \u0420\
                    \u044F\u0437\u0430\u043D\u0441\u043A\u0430\u044F, \u0434. 44"
                - id: incident_id
                  value: SD*******
                desired_completion_at: null
                downtime_end_at: null
                downtime_start_at: null
                grouped_into: null
                grouping: none
                id: 78288
                impact: null
                knowledge_article: null
                major_incident_status: null
                member: null
                new_assignment: true
                next_target_at: '2022-07-28T13:43:44+03:00'
                organization:
                  id: 694
                  name: "\u0413\u0410\u0423 \u0426\u0435\u043D\u0442\u0440 \u0446\u0438\
                    \u0444\u0440\u043E\u0432\u0438\u0437\u0430\u0446\u0438\u0438 \u043E\
                    \u0431\u0440\u0430\u0437\u043E\u0432\u0430\u043D\u0438\u044F"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Pcmdhbml6YXRpb24vNjk0
                planned_effort: null
                problem: null
                product_backlog: null
                product_backlog_estimate: null
                product_backlog_position: null
                project: null
                provider_not_accountable: false
                provider_was_not_accountable: false
                reopen_count: 0
                requested_by:
                  id: 4245
                  name: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requested_for:
                  id: 4245
                  name: "\u041C\u0435\u0434\u0432\u0435\u0434\u0435\u0432\u0430 \u041C\
                    \u0430\u0440\u0438\u044F \u041C\u0438\u0445\u0430\u0439\u043B\u043E\
                    \u0432\u043D\u0430"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requester_resolution_target_at: '2022-08-01T13:13:00+03:00'
                reservation: null
                resolution_duration: null
                resolution_target_at: '2022-08-01T13:13:00+03:00'
                response_target_at: '2022-07-28T13:43:44+03:00'
                reviewed: true
                satisfaction: null
                service_instance:
                  id: 1336
                  name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  localized_name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTMzNg
                source: HPSM
                sourceID: SD00000001
                status: assigned
                subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                  \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                supplier: null
                supplier_requestID: null
                task: null
                team:
                  id: 306
                  name: "\u041F\u0414\u0420\u0414 \u0418\u0422\u0421. \u0410\u0412\
                    \u0418\u041B\u0415\u041A\u0421"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMwNg
                template:
                  id: 1358
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  localized_subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9SZXF1ZXN0VGVtcGxhdGUvMTM1OA
                updated_at: '2022-07-28T13:13:44+03:00'
                urgent: false
                waiting_until: null
                workflow:
                  id: 14864
                  subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\
                    \u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvNzgyODg
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 03 Aug 2022 14:16:22 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '40'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3594'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1659537735'
            X-Request-Id:
              schema:
                type: string
                example: Rootb0ba7143-7491-489b-af23-eec39a8e453d
            X-Runtime:
              schema:
                type: number
                example: '12.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                message: Invalid JSON string posted
        '401':
          description: Unauthorized
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 03 Aug 2022 14:17:08 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '26'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: Roote6e31204-3552-4216-970a-436cee2d30e0
            X-Runtime:
              schema:
                type: number
                example: '155.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                message: Unauthorized
        '422':
          description: Unprocessable Entity
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 03 Aug 2022 14:17:44 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '275'
            Connection:
              schema:
                type: string
                example: keep-alive
            Cache-Control:
              schema:
                type: string
                example: no-store
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'none'
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3592'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1659537735'
            X-Request-Id:
              schema:
                type: string
                example: Root001d214d-5fd3-48a9-bacc-34d5b13272bd
            X-Runtime:
              schema:
                type: number
                example: '108.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                message: Validation Failed
                errors:
                - - custom_fields
                  - "\u0421\u0438\u043D\u0442\u0430\u043A\u0441\u0438\u0447\u0435\u0441\
                    \u043A\u0430\u044F \u043E\u0448\u0438\u0431\u043A\u0430 \u0432\
                    \ \u043F\u043E\u043B\u044C\u0437\u043E\u0432\u0430\u0442\u0435\
                    \u043B\u044C\u0441\u043A\u0438\u0445 \u043F\u043E\u043B\u044F\u0445\
                    : \u0434\u043E\u043B\u0436\u0435\u043D \u0431\u044B\u0442\u044C\
                    \ \u043C\u0430\u0441\u0441\u0438\u0432 \u0445\u044D\u0448\u0435\
                    \u0439, \u0432 \u043A\u043E\u0442\u043E\u0440\u043E\u043C \u043A\
                    \u0430\u0436\u0434\u044B\u0439 \u0445\u044D\u0448 \u0438\u043C\
                    \u0435\u0435\u0442 \u043A\u043B\u044E\u0447\u0438 'id' \u0438\
                    \ 'value'"
        '502':
          description: Bad Gateway
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 07 Sep 2022 19:58:36 GMT
            Content-Type:
              schema:
                type: string
                example: text/html
            Content-Length:
              schema:
                type: integer
                example: '157'
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            text/plain:
              schema:
                type: string
              example: "<html>\n    <head>\n        <title>502 Bad Gateway</title>\n\
                \    </head>\n    <body>\n        <center>\n            <h1>502 Bad\
                \ Gateway</h1>\n        </center>\n        <hr>\n        <center>nginx/1.20.1</center>\n\
                \    </body>\n</html>"
    get:
      tags:
      - 22. Search
      summary: GetIssuesList (several templates) Copy
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{system_user acess token}}
      - name: X-4me-Account
        in: header
        schema:
          type: string
        example: '{{X-4me-Account}}'
      - name: template
        in: query
        schema:
          type: string
        example: 36080,36096
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.20.1
            Date:
              schema:
                type: string
                example: Wed, 05 Oct 2022 12:55:14 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Cache-Control:
              schema:
                type: string
                example: no-store
            X-Pagination-Current-Page:
              schema:
                type: integer
                example: '1'
            X-Pagination-Per-Page:
              schema:
                type: integer
                example: '20'
            X-Pagination-Total-Pages:
              schema:
                type: integer
                example: '21'
            X-Pagination-Total-Entries:
              schema:
                type: integer
                example: '405'
            X-Pagination-Start-Cursor:
              schema:
                type: string
                example: eyJvZmZzZXQiOjAsImN1cnNvciI6WzM3MzkxN119
            X-Pagination-End-Cursor:
              schema:
                type: string
                example: eyJvZmZzZXQiOjE5LCJjdXJzb3IiOlszNjU5NDldfQ==
            Link:
              schema:
                type: string
                example: <https://api.4me-qa.mos.ru/v1/requests?search_after=eyJvZmZzZXQiOjE5LCJjdXJzb3IiOlszNjU5NDldfQ%3D%3D>;
                  rel="next"
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'none'
            ETag:
              schema:
                type: string
                example: W/"e61bfb0646e18aa5438015522a5bab11"
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '3600'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '3583'
            X-RateLimit-Reset:
              schema:
                type: integer
                example: '1664976715'
            X-Request-Id:
              schema:
                type: string
                example: Root4091307f-ba7e-4b1c-94b2-7e2d8369e0fb
            X-Runtime:
              schema:
                type: number
                example: '193.000000'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains; preload
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
              - id: 370417
                sourceID: null
                subject: "\u0420\u0430\u0431\u043E\u0442\u0430 \u0410\u043A\u043A\u0430\
                  \u0443\u043D\u0442\u043E\u0432 - \u043F\u0440\u043E\u0432\u0435\u0440\
                  \u043A\u0430 \u0414\u0411\u041F"
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: "\u0414\u0418\u0422 \u0418\u0422\u0421. \u041C\u0435\u043D\
                    \u0435\u0434\u0436\u0435\u0440\u044B \u0438\u0437\u043C\u0435\u043D\
                    \u0435\u043D\u0438\u0439"
                  account:
                    id: its
                    name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                      \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                      \ \u0414\u0418\u0422"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: "\u041C\u0435\u043D\u0435\u0434\u0436\u0435\u0440 \u0438\u0437\
                    \u043C\u0435\u043D\u0435\u043D\u0438\u0439"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B (\u0418\u0422\
                    \u0421)"
                  account:
                    id: its
                    name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                      \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                      \ \u0414\u0418\u0422"
                  localized_name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B\
                    \ (\u0418\u0422\u0421)"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: '2022-10-05T15:33:24+03:00'
                updated_at: '2022-10-05T15:33:48+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzcwNDE3
              - id: 370415
                sourceID: SD00000001
                subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                  \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 243
                  name: "\u041F\u0414\u0420\u0414. \u0410\u041D\u041E \u0426\u0422\
                    . \u0410\u0432\u0438\u043B\u0435\u043A\u0441 \u043F\u043E\u0441\
                    \u0442\u0430\u0432\u043A\u0430"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzI0Mw
                member: null
                grouped_into: null
                service_instance:
                  id: 1275
                  name: "\u041F\u043E\u0441\u0442\u0430\u0432\u043A\u0430 \u043F\u0430\
                    \u043D\u0435\u043B\u0435\u0439 \u043F\u043E \u0434\u043E\u0433\
                    \u043E\u0432\u043E\u0440\u0443 \u2116 500-474 (\u0410\u0432\u0438\
                    \u043B\u0435\u043A\u0441)"
                  localized_name: "\u041F\u043E\u0441\u0442\u0430\u0432\u043A\u0430\
                    \ \u043F\u0430\u043D\u0435\u043B\u0435\u0439 \u043F\u043E \u0434\
                    \u043E\u0433\u043E\u0432\u043E\u0440\u0443 \u2116 500-474 (\u0410\
                    \u0432\u0438\u043B\u0435\u043A\u0441)"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTI3NQ
                created_at: '2022-10-05T15:33:17+03:00'
                updated_at: '2022-10-05T15:33:27+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzcwNDE1
              - id: 370411
                sourceID: null
                subject: "\u0443\u0441\u0442\u0430\u043D\u043E\u0432\u043A\u0430 \u041F\
                  \u041E"
                category: rfi
                impact: null
                status: assigned
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 197
                  name: "\u041F\u0414\u0420\u0414 \u0418\u0422\u0421. \u041F\u0440\
                    \u043E\u0434\u0436\u0435\u043A\u0442 \u041E\u041A\u041E (1\u044F\
                    \ \u043B\u0438\u043D\u0438\u044F \u043F\u043E\u0434\u0434\u0435\
                    \u0440\u0436\u043A\u0438)"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5Nw
                member: null
                grouped_into: null
                service_instance:
                  id: 976
                  name: "\u0421\u043E\u043F\u0440\u043E\u0432\u043E\u0436\u0434\u0435\
                    \u043D\u0438\u0435 \u041F\u0422\u041A \u041E\u041A\u041E"
                  localized_name: "\u0421\u043E\u043F\u0440\u043E\u0432\u043E\u0436\
                    \u0434\u0435\u043D\u0438\u0435 \u041F\u0422\u041A \u041E\u041A\
                    \u041E"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTc2
                created_at: '2022-10-05T15:26:20+03:00'
                updated_at: '2022-10-05T15:26:25+03:00'
                account:
                  id: its
                  name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                    \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                    \ \u0414\u0418\u0422"
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzcwNDEx
              - id: 369757
                sourceID: null
                subject: "\u0420\u0430\u0431\u043E\u0442\u0430 \u0410\u043A\u043A\u0430\
                  \u0443\u043D\u0442\u043E\u0432 - \u043F\u0440\u043E\u0432\u0435\u0440\
                  \u043A\u0430 \u0414\u0411\u041F"
                category: rfc
                impact: null
                status: completed
                next_target_at: no_target
                completed_at: '2022-09-23T15:15:52+03:00'
                team:
                  id: 31
                  name: "\u0414\u0418\u0422 \u0418\u0422\u0421. \u041C\u0435\u043D\
                    \u0435\u0434\u0436\u0435\u0440\u044B \u0438\u0437\u043C\u0435\u043D\
                    \u0435\u043D\u0438\u0439"
                  account:
                    id: its
                    name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                      \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                      \ \u0414\u0418\u0422"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: "\u041C\u0435\u043D\u0435\u0434\u0436\u0435\u0440 \u0438\u0437\
                    \u043C\u0435\u043D\u0435\u043D\u0438\u0439"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B (\u0418\u0422\
                    \u0421)"
                  account:
                    id: its
                    name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                      \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                      \ \u0414\u0418\u0422"
                  localized_name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B\
                    \ (\u0418\u0422\u0421)"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: '2022-09-23T15:08:50+03:00'
                updated_at: '2022-09-23T15:15:52+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NzU3
              - id: 369755
                sourceID: SD*0011124
                subject: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                  \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B"
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 243
                  name: "\u041F\u0414\u0420\u0414. \u0410\u041D\u041E \u0426\u0422\
                    . \u0410\u0432\u0438\u043B\u0435\u043A\u0441 \u043F\u043E\u0441\
                    \u0442\u0430\u0432\u043A\u0430"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzI0Mw
                member: null
                grouped_into: null
                service_instance:
                  id: 1275
                  name: "\u041F\u043E\u0441\u0442\u0430\u0432\u043A\u0430 \u043F\u0430\
                    \u043D\u0435\u043B\u0435\u0439 \u043F\u043E \u0434\u043E\u0433\
                    \u043E\u0432\u043E\u0440\u0443 \u2116 500-474 (\u0410\u0432\u0438\
                    \u043B\u0435\u043A\u0441)"
                  localized_name: "\u041F\u043E\u0441\u0442\u0430\u0432\u043A\u0430\
                    \ \u043F\u0430\u043D\u0435\u043B\u0435\u0439 \u043F\u043E \u0434\
                    \u043E\u0433\u043E\u0432\u043E\u0440\u0443 \u2116 500-474 (\u0410\
                    \u0432\u0438\u043B\u0435\u043A\u0441)"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTI3NQ
                created_at: '2022-09-23T15:08:45+03:00'
                updated_at: '2022-09-23T15:15:36+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NzU1
              - id: 369579
                sourceID: SD00000001
                subject: SOME SUBJECT
                category: rfc
                impact: null
                status: assigned
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 807
                  name: "\u041F\u0414\u0420\u0414. \u0410\u041D\u041E \u0426\u0422\
                    . \u041F\u0440\u043E\u0434\u0436\u0435\u043A\u0442 \u0421\u0430\
                    \u043F\u043F\u043E\u0440\u0442 \u043C\u043E\u043D\u043E\u0431\u043B\
                    \u043E\u043A\u0438"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzgwNw
                member: null
                grouped_into: null
                service_instance:
                  id: 3381
                  name: "\u041E\u0431\u0441\u043B\u0443\u0436\u0438\u0432\u0430\u043D\
                    \u0438\u0435 \u043E\u0431\u043E\u0440\u0443\u0434\u043E\u0432\u0430\
                    \u043D\u0438\u044F \u0415\u041C\u0418\u0410\u0421. \u041E\u041E\
                    \u041E \xAB\u041F\u0440\u043E\u0434\u0436\u0435\u043A\u0442 \u0421\
                    \u0430\u043F\u043F\u043E\u0440\u0442\xBB"
                  localized_name: "\u041E\u0431\u0441\u043B\u0443\u0436\u0438\u0432\
                    \u0430\u043D\u0438\u0435 \u043E\u0431\u043E\u0440\u0443\u0434\u043E\
                    \u0432\u0430\u043D\u0438\u044F \u0415\u041C\u0418\u0410\u0421\
                    . \u041E\u041E\u041E \xAB\u041F\u0440\u043E\u0434\u0436\u0435\u043A\
                    \u0442 \u0421\u0430\u043F\u043F\u043E\u0440\u0442\xBB"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMzM4MQ
                created_at: '2022-09-16T19:22:12+03:00'
                updated_at: '2022-09-16T19:22:14+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NTc5
              - id: 369565
                sourceID: SD00000001
                subject: SOME SUBJECT
                category: rfc
                impact: null
                status: assigned
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 807
                  name: "\u041F\u0414\u0420\u0414. \u0410\u041D\u041E \u0426\u0422\
                    . \u041F\u0440\u043E\u0434\u0436\u0435\u043A\u0442 \u0421\u0430\
                    \u043F\u043F\u043E\u0440\u0442 \u043C\u043E\u043D\u043E\u0431\u043B\
                    \u043E\u043A\u0438"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzgwNw
                member: null
                grouped_into: null
                service_instance:
                  id: 3381
                  name: "\u041E\u0431\u0441\u043B\u0443\u0436\u0438\u0432\u0430\u043D\
                    \u0438\u0435 \u043E\u0431\u043E\u0440\u0443\u0434\u043E\u0432\u0430\
                    \u043D\u0438\u044F \u0415\u041C\u0418\u0410\u0421. \u041E\u041E\
                    \u041E \xAB\u041F\u0440\u043E\u0434\u0436\u0435\u043A\u0442 \u0421\
                    \u0430\u043F\u043F\u043E\u0440\u0442\xBB"
                  localized_name: "\u041E\u0431\u0441\u043B\u0443\u0436\u0438\u0432\
                    \u0430\u043D\u0438\u0435 \u043E\u0431\u043E\u0440\u0443\u0434\u043E\
                    \u0432\u0430\u043D\u0438\u044F \u0415\u041C\u0418\u0410\u0421\
                    . \u041E\u041E\u041E \xAB\u041F\u0440\u043E\u0434\u0436\u0435\u043A\
                    \u0442 \u0421\u0430\u043F\u043F\u043E\u0440\u0442\xBB"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMzM4MQ
                created_at: '2022-09-16T13:41:56+03:00'
                updated_at: '2022-09-16T13:42:03+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NTY1
              - id: 369411
                sourceID: 9ee40420b6524b5f84347660b0e25d51@it.mos.ru
                subject: (no subject)
                category: rfc
                impact: null
                status: assigned
                next_target_at: '2022-09-18T18:42:42+03:00'
                completed_at: null
                team:
                  id: 198
                  name: "\u041F\u0414\u0420\u0414 \u0418\u0422\u0421. \u041F\u0440\
                    \u043E\u0434\u0436\u0435\u043A\u0442 \u041E\u041A\u041E (\u0438\
                    \u043D\u0436\u0435\u043D\u0435\u0440\u044B)"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5OA
                member:
                  id: 276591
                  name: "\u0413\u0430\u043D\u0446\u0435\u0432\u0438\u0447 \u042E\u0440\
                    \u0438\u0439 \u0421\u0435\u0440\u0433\u0435\u0435\u0432\u0438\u0447"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  sourceID: 31d56672-cb5d-42a6-bf91-e032ac681491
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjc2NTkx
                grouped_into: null
                service_instance:
                  id: 976
                  name: "\u0421\u043E\u043F\u0440\u043E\u0432\u043E\u0436\u0434\u0435\
                    \u043D\u0438\u0435 \u041F\u0422\u041A \u041E\u041A\u041E"
                  localized_name: "\u0421\u043E\u043F\u0440\u043E\u0432\u043E\u0436\
                    \u0434\u0435\u043D\u0438\u0435 \u041F\u0422\u041A \u041E\u041A\
                    \u041E"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTc2
                created_at: '2022-09-14T18:42:40+03:00'
                updated_at: '2022-09-15T08:14:50+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NDEx
              - id: 369237
                sourceID: dcd51ac519e641c9b78c79e0378adbf3@mos.ru
                subject: "\u041F\u043E\u0434\u043A\u043B\u044E\u0447\u0435\u043D\u0438\
                  \u0435 \u0430\u0431\u043E\u043D\u0435\u043D\u0442\u0430"
                category: rfc
                impact: null
                status: completed
                next_target_at: no_target
                completed_at: '2022-09-14T17:31:03+03:00'
                team:
                  id: 198
                  name: "\u041F\u0414\u0420\u0414 \u0418\u0422\u0421. \u041F\u0440\
                    \u043E\u0434\u0436\u0435\u043A\u0442 \u041E\u041A\u041E (\u0438\
                    \u043D\u0436\u0435\u043D\u0435\u0440\u044B)"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5OA
                member:
                  id: 276599
                  name: "\u041E\u0432\u0435\u0447\u043A\u0438\u043D \u0410\u043B\u0435\
                    \u043A\u0441\u0430\u043D\u0434\u0440 \u041D\u0438\u043A\u043E\u043B\
                    \u0430\u0435\u0432\u0438\u0447"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjc2NTk5
                grouped_into: null
                service_instance:
                  id: 976
                  name: "\u0421\u043E\u043F\u0440\u043E\u0432\u043E\u0436\u0434\u0435\
                    \u043D\u0438\u0435 \u041F\u0422\u041A \u041E\u041A\u041E"
                  localized_name: "\u0421\u043E\u043F\u0440\u043E\u0432\u043E\u0436\
                    \u0434\u0435\u043D\u0438\u0435 \u041F\u0422\u041A \u041E\u041A\
                    \u041E"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTc2
                created_at: '2022-09-14T17:06:09+03:00'
                updated_at: '2022-09-14T17:31:07+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5MjM3
              - id: 369223
                sourceID: null
                subject: "\u0420\u0430\u0431\u043E\u0442\u0430 \u0410\u043A\u043A\u0430\
                  \u0443\u043D\u0442\u043E\u0432 - \u043F\u0440\u043E\u0432\u0435\u0440\
                  \u043A\u0430 \u0414\u0411\u041F"
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: "\u0414\u0418\u0422 \u0418\u0422\u0421. \u041C\u0435\u043D\
                    \u0435\u0434\u0436\u0435\u0440\u044B \u0438\u0437\u043C\u0435\u043D\
                    \u0435\u043D\u0438\u0439"
                  account:
                    id: its
                    name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                      \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                      \ \u0414\u0418\u0422"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: "\u041C\u0435\u043D\u0435\u0434\u0436\u0435\u0440 \u0438\u0437\
                    \u043C\u0435\u043D\u0435\u043D\u0438\u0439"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B (\u0418\u0422\
                    \u0421)"
                  account:
                    id: its
                    name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                      \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                      \ \u0414\u0418\u0422"
                  localized_name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B\
                    \ (\u0418\u0422\u0421)"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: '2022-09-14T17:01:01+03:00'
                updated_at: '2022-09-14T17:01:28+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5MjIz
              - id: 369221
                sourceID: IM07991176
                subject: "\u0417\u0430\u044F\u0432\u043A\u0430 \u043D\u0430 \u043D\
                  \u043E\u0443\u0442\u0431\u0443\u043A\u0438 \u0413\u0411\u041F\u041E\
                  \u0423 \u0422\u041F\u0421\u041A \u0438\u043C. \u0412.\u041C. \u041C\
                  \u0430\u043A\u0441\u0438\u043C\u0447\u0443\u043A\u0430"
                category: rfc
                impact: null
                status: change_pending
                next_target_at: '2022-09-21T18:00:00+03:00'
                completed_at: null
                team:
                  id: 243
                  name: "\u041F\u0414\u0420\u0414. \u0410\u041D\u041E \u0426\u0422\
                    . \u0410\u0432\u0438\u043B\u0435\u043A\u0441 \u043F\u043E\u0441\
                    \u0442\u0430\u0432\u043A\u0430"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzI0Mw
                member: null
                grouped_into: null
                service_instance:
                  id: 1275
                  name: "\u041F\u043E\u0441\u0442\u0430\u0432\u043A\u0430 \u043F\u0430\
                    \u043D\u0435\u043B\u0435\u0439 \u043F\u043E \u0434\u043E\u0433\
                    \u043E\u0432\u043E\u0440\u0443 \u2116 500-474 (\u0410\u0432\u0438\
                    \u043B\u0435\u043A\u0441)"
                  localized_name: "\u041F\u043E\u0441\u0442\u0430\u0432\u043A\u0430\
                    \ \u043F\u0430\u043D\u0435\u043B\u0435\u0439 \u043F\u043E \u0434\
                    \u043E\u0433\u043E\u0432\u043E\u0440\u0443 \u2116 500-474 (\u0410\
                    \u0432\u0438\u043B\u0435\u043A\u0441)"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTI3NQ
                created_at: '2022-09-14T17:00:58+03:00'
                updated_at: '2022-09-14T17:02:21+03:00'
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5MjIx
              - id: 368311
                sourceID: null
                subject: "\u0422\u041E"
                category: incident
                impact: low
                status: completed
                next_target_at: no_target
                completed_at: '2022-09-14T16:09:28+03:00'
                team:
                  id: 194
                  name: "\u041F\u0414\u0420\u0414 \u0418\u0422\u0421. \u0411\u0438\
                    \u0437\u043D\u0435\u0441 \u0410\u0439 \u0422\u0438. \u041F\u0435\
                    \u0447\u0430\u0442\u044C"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5NA
                member:
                  id: 265953
                  name: "\u0411\u0435\u043B\u043E\u0443\u0441\u043E\u0432\u0430 \u0414\
                    \u0430\u0440\u044C\u044F \u0418\u0433\u043E\u0440\u0435\u0432\u043D\
                    \u0430"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjY1OTUz
                grouped_into: null
                service_instance:
                  id: 963
                  name: "\u0413\u041A 69-\u0423-162.21 \u041F\u043E\u0434\u0434\u0435\
                    \u0440\u0436\u043A\u0430 \u0443\u0441\u0442\u0440\u043E\u0439\u0441\
                    \u0442\u0432 \u043F\u0435\u0447\u0430\u0442\u0438 \u0418\u0410\
                    \u0426\u0421\u0417"
                  localized_name: "\u0413\u041A 69-\u0423-162.21 \u041F\u043E\u0434\
                    \u0434\u0435\u0440\u0436\u043A\u0430 \u0443\u0441\u0442\u0440\u043E\
                    \u0439\u0441\u0442\u0432 \u043F\u0435\u0447\u0430\u0442\u0438\
                    \ \u0418\u0410\u0426\u0421\u0417"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTYz
                created_at: '2022-09-14T14:20:27+03:00'
                updated_at: '2022-09-14T16:09:28+03:00'
                account:
                  id: its
                  name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                    \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                    \ \u0414\u0418\u0422"
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY4MzEx
              - id: 368301
                sourceID: null
                subject: "\u0422\u041E"
                category: incident
                impact: low
                status: completed
                next_target_at: no_target
                completed_at: '2022-09-14T16:08:56+03:00'
                team:
                  id: 194
                  name: "\u041F\u0414\u0420\u0414 \u0418\u0422\u0421. \u0411\u0438\
                    \u0437\u043D\u0435\u0441 \u0410\u0439 \u0422\u0438. \u041F\u0435\
                    \u0447\u0430\u0442\u044C"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5NA
                member:
                  id: 265953
                  name: "\u0411\u0435\u043B\u043E\u0443\u0441\u043E\u0432\u0430 \u0414\
                    \u0430\u0440\u044C\u044F \u0418\u0433\u043E\u0440\u0435\u0432\u043D\
                    \u0430"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjY1OTUz
                grouped_into: null
                service_instance:
                  id: 963
                  name: "\u0413\u041A 69-\u0423-162.21 \u041F\u043E\u0434\u0434\u0435\
                    \u0440\u0436\u043A\u0430 \u0443\u0441\u0442\u0440\u043E\u0439\u0441\
                    \u0442\u0432 \u043F\u0435\u0447\u0430\u0442\u0438 \u0418\u0410\
                    \u0426\u0421\u0417"
                  localized_name: "\u0413\u041A 69-\u0423-162.21 \u041F\u043E\u0434\
                    \u0434\u0435\u0440\u0436\u043A\u0430 \u0443\u0441\u0442\u0440\u043E\
                    \u0439\u0441\u0442\u0432 \u043F\u0435\u0447\u0430\u0442\u0438\
                    \ \u0418\u0410\u0426\u0421\u0417"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTYz
                created_at: '2022-09-14T14:18:35+03:00'
                updated_at: '2022-09-14T16:08:56+03:00'
                account:
                  id: its
                  name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                    \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                    \ \u0414\u0418\u0422"
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY4MzAx
              - id: 367815
                sourceID: null
                subject: "\u0420\u0430\u0431\u043E\u0442\u0430 \u0410\u043A\u043A\u0430\
                  \u0443\u043D\u0442\u043E\u0432 - \u043F\u0440\u043E\u0432\u0435\u0440\
                  \u043A\u0430 \u0414\u0411\u041F"
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: "\u0414\u0418\u0422 \u0418\u0422\u0421. \u041C\u0435\u043D\
                    \u0435\u0434\u0436\u0435\u0440\u044B \u0438\u0437\u043C\u0435\u043D\
                    \u0435\u043D\u0438\u0439"
                  account:
                    id: its
                    name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                      \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                      \ \u0414\u0418\u0422"
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: "\u041C\u0435\u043D\u0435\u0434\u0436\u0435\u0440 \u0438\u0437\
                    \u043C\u0435\u043D\u0435\u043D\u0438\u0439"
                  account:
                    id: moscow
                    name: "\u041A\u0430\u0442\u0430\u043B\u043E\u0433 \u0443\u0441\
                      \u043B\u0443\u0433 \u041F\u0440\u0430\u0432\u0438\u0442\u0435\
                      \u043B\u044C\u0441\u0442\u0432\u0430 \u041C\u043E\u0441\u043A\
                      \u0432\u044B"
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\u0443\u043A\
                    \u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B (\u0418\u0422\
                    \u0421)"
                  account:
                    id: its
                    name: "\u0422\u0435\u0445\u043D\u0438\u0447\u0435\u0441\u043A\u0430\
                      \u044F \u041F\u043E\u0434\u0434\u0435\u0440\u0436\u043A\u0430\
                      \ \u0414\u0418\u0422"
                  localized_name: "\u0414 500-474/22 \u041D\u043E\u0443\u0442\u0431\
                    \u0443\u043A\u0438 \u0434\u043B\u044F \u0448\u043A\u043E\u043B\
                    \ (\u0418\u0422\u0421)"
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
[...]
