openapi: 3.0.0
info:
  title: DIT PUBLIC 4ME REST API REQUEST EXAMPLES
  version: 1.0.0
servers:
- url: https://api.xurrent.com
tags:
- name: 0. Events
- name: 0. Events > requests
- name: 1. Requests
- name: 2. People
- name: 3. Attachments
- name: 4. Teams
- name: 5.1 Config Items
- name: 5.2 CI Relations
- name: 6. Services
- name: 7. Calendars
- name: 8. Service Offerings
- name: 9. Organizations
- name: 10. Workflows
- name: 11. Tasks
- name: 12. Sites (Adresses)
- name: 13. Products
- name: 14. Product Categories
- name: 15. UI Extensions
- name: 16. Service Level Agreements
- name: 18. Request Templates
- name: 19. Reservations
- name: 20. Notes
- name: 21. Automation Rules
- name: 22. Search
- name: 23. Custom Collections and Elements
- name: 30. Import
- name: 40. Export
- name: 50. Account
- name: 60. Problems
- name: 100. Other
paths:
  /v1/events:
    post:
      parameters:
      - example: "Bearer {{system_user acess token}}"
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "{{X-4me-Account}}"
        explode: false
        in: header
        name: X-4me-Account
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                source: "{{external system name}}"
                sourceID: "{{external system obj id}}"
                service_instance_id: "{{service_instance_id}}"
                subject: "{{subject}}"
                template_id: "{{request template id}}"
                ci_id: "{{some ci id_inf system}}"
                impact: top
                category: "{{category}}"
                downtime_start_at: 2024-02-21T17:59:26
                note: "{{some comment or request description}}"
                custom_fields:
                - id: ext_system_record_id
                  value: "{{external system obj id}}"
                - id: ext_system_link_id
                  value: "{{external system obj link}}"
                - id: ext_ci_where_reg_event
                  value: "{{ext_ci_where_reg_event}}"
                - id: ext_event_trigger_desc
                  value: "{{trigger desc}}"
              type: object
      responses:
        "201":
          content:
            application/json:
              example:
                addressed: false
                agile_board: null
                agile_board_column: null
                agile_board_column_position: null
                assignment_count: 1
                attachments: []
                category: rfc
                change:
                  id: 14864
                  subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                ci: null
                ci_id: null
                completed_at: null
                completion_reason: null
                created_at: 2022-07-28T13:13:44+03:00
                created_by:
                  id: 128702
                  name: Пользователь для МЭШ
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTI4NzAy
                custom_fields:
                - id: fio
                  value: Пользователь Школа 123
                - id: telephone
                  value: "+7821112222"
                - id: email
                  value: Shkola@mos.ru
                - id: organization
                  value: ГБУ Школа 123
                - id: adress
                  value: "Москва, ул Рязанская, д. 44"
                - id: incident_id
                  value: SD*******
                desired_completion_at: null
                downtime_end_at: null
                downtime_start_at: null
                grouped_into: null
                grouping: none
                id: 78288
                impact: null
                knowledge_article: null
                major_incident_status: null
                member: null
                new_assignment: true
                next_target_at: 2022-07-28T13:43:44+03:00
                organization:
                  id: 694
                  name: ГАУ Центр цифровизации образования
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9Pcmdhbml6YXRpb24vNjk0
                planned_effort: null
                problem: null
                product_backlog: null
                product_backlog_estimate: null
                product_backlog_position: null
                project: null
                provider_not_accountable: false
                provider_was_not_accountable: false
                reopen_count: 0
                requested_by:
                  id: 4245
                  name: Медведева Мария Михайловна
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requested_for:
                  id: 4245
                  name: Медведева Мария Михайловна
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requester_resolution_target_at: 2022-08-01T13:13:00+03:00
                reservation: null
                resolution_duration: null
                resolution_target_at: 2022-08-01T13:13:00+03:00
                response_target_at: 2022-07-28T13:43:44+03:00
                reviewed: true
                satisfaction: null
                service_instance:
                  id: 1336
                  name: Д 500-474/22 Ноутбуки для школ
                  localized_name: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTMzNg
                source: HPSM
                sourceID: SD00000001
                status: assigned
                subject: Д 500-474/22 Ноутбуки для школ
                supplier: null
                supplier_requestID: null
                task: null
                team:
                  id: 306
                  name: ПДРД ИТС. АВИЛЕКС
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMwNg
                template:
                  id: 1358
                  subject: Д 500-474/22 Ноутбуки для школ
                  localized_subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9SZXF1ZXN0VGVtcGxhdGUvMTM1OA
                updated_at: 2022-07-28T13:13:44+03:00
                urgent: false
                waiting_until: null
                workflow:
                  id: 14864
                  subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvNzgyODg
              schema:
                type: object
          description: Created
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 28 Jul 2022 10:13:45 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 3460
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-store
                type: string
              style: simple
            Location:
              explode: false
              schema:
                example: https://sc-its.4me-qa.mos.ru/requests/78288
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: default-src 'none'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"f4e6ffd002cb5e589175816a098f1109"
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3597
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1659006756
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Rootdc6f994c-5c7c-4555-929e-18a7eae98c9f
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 433.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                message: Invalid JSON string posted
              schema:
                type: object
          description: Bad Request
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 03 Aug 2022 14:16:22 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 40
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3594
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1659537735
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Rootb0ba7143-7491-489b-af23-eec39a8e453d
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 12.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
              schema:
                type: object
          description: Unauthorized
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 03 Aug 2022 14:17:08 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 26
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Roote6e31204-3552-4216-970a-436cee2d30e0
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 155.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
        "422":
          content:
            application/json:
              example:
                message: Validation Failed
                errors:
                - - custom_fields
                  - "Синтаксическая ошибка в пользовательских полях: должен быть м\
                    ассив хэшей, в котором каждый хэш имеет ключи 'id' и 'value'"
              schema:
                type: object
          description: Unprocessable Entity
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 03 Aug 2022 14:17:44 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 275
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-store
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: default-src 'none'
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3592
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1659537735
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Root001d214d-5fd3-48a9-bacc-34d5b13272bd
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 108.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
        "502":
          content:
            text/plain:
              example: |-
                <html>
                    <head>
                        <title>502 Bad Gateway</title>
                    </head>
                    <body>
                        <center>
                            <h1>502 Bad Gateway</h1>
                        </center>
                        <hr>
                        <center>nginx/1.20.1</center>
                    </body>
                </html>
              schema:
                type: string
          description: Bad Gateway
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 07 Sep 2022 19:58:36 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: text/html
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 157
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      summary: CreateNewIncident (top impact)
      tags:
      - 0. Events
  /v1/requests/1:
    get:
      parameters:
      - example: "Bearer {{system_user acess token}}"
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "{{X-4me-Account}}"
        explode: false
        in: header
        name: X-4me-Account
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                addressed: false
                agile_board: null
                agile_board_column: null
                agile_board_column_position: null
                assignment_count: 1
                attachments: []
                category: rfc
                change:
                  id: 14864
                  subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                ci: null
                ci_id: null
                completed_at: null
                completion_reason: null
                created_at: 2022-07-28T13:13:44+03:00
                created_by:
                  id: 128702
                  name: Пользователь для МЭШ
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTI4NzAy
                custom_fields:
                - id: fio
                  value: Пользователь Школа 123
                - id: telephone
                  value: "+7821112222"
                - id: email
                  value: Shkola@mos.ru
                - id: organization
                  value: ГБУ Школа 123
                - id: adress
                  value: "Москва, ул Рязанская, д. 44"
                - id: incident_id
                  value: SD*******
                - id: reqs_for_tel_work
                  value: "84959579357"
                - id: reqs_for_email
                  value: medvedevamm1@edu.mos.ru
                - id: reqs_for_oiv
                  value: ГАУ Центр цифровизации образования
                - id: reqs_for_tel_mobile
                  value: "89296435118"
                - id: reqs_for_fio
                  value: Медведева Мария Михайловна
                - id: reqs_by_fio
                  value: Медведева Мария Михайловна
                - id: reqs_by_tel_work
                  value: "84959579357"
                - id: reqs_by_email
                  value: medvedevamm1@edu.mos.ru
                - id: reqs_by_oiv
                  value: ГАУ Центр цифровизации образования
                - id: reqs_by_tel_mobile
                  value: "89296435118"
                - id: service_name
                  value: Д 500-474/22 Ноутбуки для школ
                - id: subject
                  value: Д 500-474/22 Ноутбуки для школ
                - id: created_at
                  value: 2022-07-28T10:13:44Z
                - id: reqs_for_site
                  value: "1-й Красногвардейский проезд , д.21, стр.1 (ОКО)"
                - id: reqs_by_site
                  value: "1-й Красногвардейский проезд , д.21, стр.1 (ОКО)"
                - id: reqs_first_note
                  value: Какойто комментарий 2
                desired_completion_at: null
                downtime_end_at: null
                downtime_start_at: null
                grouped_into: null
                grouping: none
                id: 78288
                impact: null
                knowledge_article: null
                major_incident_status: null
                member: null
                new_assignment: true
                next_target_at: 2022-07-28T13:43:44+03:00
                organization:
                  id: 694
                  name: ГАУ Центр цифровизации образования
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9Pcmdhbml6YXRpb24vNjk0
                planned_effort: null
                problem: null
                product_backlog: null
                product_backlog_estimate: null
                product_backlog_position: null
                project: null
                provider_not_accountable: false
                provider_was_not_accountable: false
                reopen_count: 0
                requested_by:
                  id: 4245
                  name: Медведева Мария Михайловна
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requested_for:
                  id: 4245
                  name: Медведева Мария Михайловна
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requester_resolution_target_at: 2022-08-01T13:13:00+03:00
                reservation: null
                resolution_duration: null
                resolution_target_at: 2022-08-01T13:13:00+03:00
                response_target_at: 2022-07-28T13:43:44+03:00
                reviewed: true
                satisfaction: null
                service_instance:
                  id: 1336
                  name: Д 500-474/22 Ноутбуки для школ
                  localized_name: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTMzNg
                source: HPSM
                sourceID: SD00000001
                status: assigned
                subject: Д 500-474/22 Ноутбуки для школ
                supplier: null
                supplier_requestID: null
                task: null
                team:
                  id: 306
                  name: ПДРД ИТС. АВИЛЕКС
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMwNg
                template:
                  id: 1358
                  subject: Д 500-474/22 Ноутбуки для школ
                  localized_subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9SZXF1ZXN0VGVtcGxhdGUvMTM1OA
                updated_at: 2022-07-28T13:13:48+03:00
                urgent: false
                waiting_until: null
                workflow:
                  id: 14864
                  subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvNzgyODg
              schema:
                type: object
          description: OK
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 28 Jul 2022 10:17:20 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-store
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: default-src 'none'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"5706f63b086dbf431030886af61add09"
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3594
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1659006756
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Root03eaf45a-c6f2-4293-9cc5-78958b475cc3
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 89.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
      summary: GetIssuesProperties
      tags:
      - 1. Requests
    patch:
      parameters:
      - example: "Bearer {{system_user acess token}}"
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "{{X-4me-Account}}"
        explode: false
        in: header
        name: X-4me-Account
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                note_attachments:
                - key: "{{attache url-1}}"
                - key: "{{attache url-2}}"
                - key: "{{attache url-3}}"
              type: object
      responses:
        "200":
          content:
            application/json:
              example:
                addressed: false
                agile_board: null
                agile_board_column: null
                agile_board_column_position: null
                assignment_count: 1
                attachments:
                - name: eng_FilesToSendWithExecution.jpg
                  key: attachments/369/2022/08/08/128702/1659957161.0496082-2f515c026f0ec7545d2076ce08eef36e71a39d2a7ac537b244bf1618f1d6075d/eng_FilesToSendWithExecution.jpg
                  uri: https://moscow.4me-qa.mos.ru/storage/attachments/369/2022/08/08/128702/1659957161.0496082-2f515c026f0ec7545d2076ce08eef36e71a39d2a7ac537b244bf1618f1d6075d/eng_FilesToSendWithExecution.jpg?X-4me-Expiration=1660147828&X-4me-Signature=d6e37f6b58a28c412954de89415537f784c11a10d8f1cf2f2d4a48132b5792db
                  inline: false
                  size: 0
                - name: addInfoRequest_eng_txt.txt
                  key: attachments/369/2022/08/09/128702/1660061940.2560534-d551944ae48215963e94cce2d058efeed0eebb20ad08d2c663365c97fb57e896/addInfoRequest_eng_txt.txt
                  uri: https://moscow.4me-qa.mos.ru/storage/attachments/369/2022/08/09/128702/1660061940.2560534-d551944ae48215963e94cce2d058efeed0eebb20ad08d2c663365c97fb57e896/addInfoRequest_eng_txt.txt?X-4me-Expiration=1660147828&X-4me-Signature=7ff197c784cb32a226bd5e075e7c4245e415c392af55b102dbac2bd0aabc393c
                  inline: false
                  size: 0
                category: rfc
                change:
                  id: 15184
                  subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNTE4NA
                ci: null
                ci_id: null
                completed_at: null
                completion_reason: null
                created_at: 2022-08-08T14:02:05+03:00
                created_by:
                  id: 128702
                  name: Пользователь для МЭШ
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTI4NzAy
                custom_fields:
                - id: fio
                  value: Пользователь Школа 123
                - id: telephone
                  value: "+7821112222"
                - id: email
                  value: zobovdd@it.mos.ru
                - id: organization
                  value: ГБУ Школа 123
                - id: adress
                  value: "Москва, ул Рязанская, д. 44"
                - id: incident_id
                  value: SD*******
                - id: reqs_for_tel_work
                  value: "84959579357"
                - id: reqs_for_email
                  value: medvedevamm1@edu.mos.ru
                - id: reqs_for_oiv
                  value: ГАУ Центр цифровизации образования
                - id: reqs_for_tel_mobile
                  value: "89296435118"
                - id: reqs_for_fio
                  value: Медведева Мария Михайловна
                - id: reqs_by_fio
                  value: Медведева Мария Михайловна
                - id: reqs_by_tel_work
                  value: "84959579357"
                - id: reqs_by_email
                  value: medvedevamm1@edu.mos.ru
                - id: reqs_by_oiv
                  value: ГАУ Центр цифровизации образования
                - id: reqs_by_tel_mobile
                  value: "89296435118"
                - id: service_name
                  value: Договор от 14.03.2022 № 500-474 на поставку оборудования
                - id: subject
                  value: Д 500-474/22 Ноутбуки для школ
                - id: created_at
                  value: 2022-08-08T11:02:05Z
                - id: reqs_for_site
                  value: "1-й Красногвардейский проезд , д.21, стр.1 (ОКО)"
                - id: reqs_by_site
                  value: "1-й Красногвардейский проезд , д.21, стр.1 (ОКО)"
                - id: reqs_first_note
                  value: SOME COMMENT
                desired_completion_at: null
                downtime_end_at: null
                downtime_start_at: null
                grouped_into: null
                grouping: none
                id: 79038
                impact: null
                knowledge_article: null
                major_incident_status: null
                member: null
                new_assignment: false
                next_target_at: 2022-08-15T18:00:00+03:00
                organization:
                  id: 694
                  name: ГАУ Центр цифровизации образования
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9Pcmdhbml6YXRpb24vNjk0
                planned_effort: null
                problem: null
                product_backlog: null
                product_backlog_estimate: null
                product_backlog_position: null
                project: null
                provider_not_accountable: false
                provider_was_not_accountable: false
                reopen_count: 0
                requested_by:
                  id: 4245
                  name: Медведева Мария Михайловна
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requested_for:
                  id: 4245
                  name: Медведева Мария Михайловна
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requester_resolution_target_at: 2022-08-15T18:00:00+03:00
                reservation: null
                resolution_duration: null
                resolution_target_at: 2022-08-15T18:00:00+03:00
                response_target_at: null
                reviewed: true
                satisfaction: null
                service_instance:
                  id: 1336
                  name: Поставка панелей по договору № 500-474 (Авилекс)
                  localized_name: Поставка панелей по договору № 500-474 (Авилекс)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTMzNg
                source: HPSM
                sourceID: SD00000001
                status: workflow_pending
                subject: Д 500-474/22 Ноутбуки для школ
                supplier: null
                supplier_requestID: null
                task: null
                team:
                  id: 306
                  name: ПДРД. АНО ЦТ. Авилекс поставка
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMwNg
                template:
                  id: 1358
                  subject: Д 500-474/22 Ноутбуки для школ
                  localized_subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9SZXF1ZXN0VGVtcGxhdGUvMTM1OA
                updated_at: 2022-08-09T19:10:00+03:00
                urgent: false
                waiting_until: null
                workflow:
                  id: 15184
                  subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNTE4NA
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvNzkwMzg
              schema:
                type: object
          description: OK
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 09 Aug 2022 16:10:28 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-store
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: default-src 'none'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"660250ffc229d58b78b8d8bb13b865fe"
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3572
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1660063576
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Root61abf02b-580f-4061-8a3c-0e5ddafae0e2
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 118.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
      summary: Add Attach (multi) - AddAttachmentsToRequest
      tags:
      - 3. Attachments
    put:
      parameters:
      - example: "Bearer {{system_user acess token}}"
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "{{X-4me-Account}}"
        explode: false
        in: header
        name: X-4me-Account
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                status: completed
                completion_reason: no_reply
                note: "{{some comment or request description}}"
              type: object
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: SetNewStatus (no_reply)
      tags:
      - 1. Requests
  /v1/requests:
    get:
      parameters:
      - example: "Bearer {{system_user acess token}}"
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "{{X-4me-Account}}"
        explode: false
        in: header
        name: X-4me-Account
        required: false
        schema:
          type: string
        style: simple
      - example: "36080,36096"
        explode: true
        in: query
        name: template
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 370417
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-10-05T15:33:24+03:00
                updated_at: 2022-10-05T15:33:48+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzcwNDE3
              - id: 370415
                sourceID: SD00000001
                subject: Д 500-474/22 Ноутбуки для школ
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 243
                  name: ПДРД. АНО ЦТ. Авилекс поставка
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzI0Mw
                member: null
                grouped_into: null
                service_instance:
                  id: 1275
                  name: Поставка панелей по договору № 500-474 (Авилекс)
                  localized_name: Поставка панелей по договору № 500-474 (Авилекс)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTI3NQ
                created_at: 2022-10-05T15:33:17+03:00
                updated_at: 2022-10-05T15:33:27+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzcwNDE1
              - id: 370411
                sourceID: null
                subject: установка ПО
                category: rfi
                impact: null
                status: assigned
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 197
                  name: ПДРД ИТС. Проджект ОКО (1я линия поддержки)
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5Nw
                member: null
                grouped_into: null
                service_instance:
                  id: 976
                  name: Сопровождение ПТК ОКО
                  localized_name: Сопровождение ПТК ОКО
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTc2
                created_at: 2022-10-05T15:26:20+03:00
                updated_at: 2022-10-05T15:26:25+03:00
                account:
                  id: its
                  name: Техническая Поддержка ДИТ
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzcwNDEx
              - id: 369757
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: completed
                next_target_at: no_target
                completed_at: 2022-09-23T15:15:52+03:00
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-23T15:08:50+03:00
                updated_at: 2022-09-23T15:15:52+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NzU3
              - id: 369755
                sourceID: SD*0011124
                subject: Д 500-474/22 Ноутбуки для школ
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 243
                  name: ПДРД. АНО ЦТ. Авилекс поставка
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzI0Mw
                member: null
                grouped_into: null
                service_instance:
                  id: 1275
                  name: Поставка панелей по договору № 500-474 (Авилекс)
                  localized_name: Поставка панелей по договору № 500-474 (Авилекс)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTI3NQ
                created_at: 2022-09-23T15:08:45+03:00
                updated_at: 2022-09-23T15:15:36+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NzU1
              - id: 369579
                sourceID: SD00000001
                subject: SOME SUBJECT
                category: rfc
                impact: null
                status: assigned
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 807
                  name: ПДРД. АНО ЦТ. Проджект Саппорт моноблоки
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzgwNw
                member: null
                grouped_into: null
                service_instance:
                  id: 3381
                  name: Обслуживание оборудования ЕМИАС. ООО «Проджект Саппорт»
                  localized_name: Обслуживание оборудования ЕМИАС. ООО «Проджект Саппорт»
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMzM4MQ
                created_at: 2022-09-16T19:22:12+03:00
                updated_at: 2022-09-16T19:22:14+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NTc5
              - id: 369565
                sourceID: SD00000001
                subject: SOME SUBJECT
                category: rfc
                impact: null
                status: assigned
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 807
                  name: ПДРД. АНО ЦТ. Проджект Саппорт моноблоки
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzgwNw
                member: null
                grouped_into: null
                service_instance:
                  id: 3381
                  name: Обслуживание оборудования ЕМИАС. ООО «Проджект Саппорт»
                  localized_name: Обслуживание оборудования ЕМИАС. ООО «Проджект Саппорт»
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMzM4MQ
                created_at: 2022-09-16T13:41:56+03:00
                updated_at: 2022-09-16T13:42:03+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NTY1
              - id: 369411
                sourceID: 9ee40420b6524b5f84347660b0e25d51@it.mos.ru
                subject: (no subject)
                category: rfc
                impact: null
                status: assigned
                next_target_at: 2022-09-18T18:42:42+03:00
                completed_at: null
                team:
                  id: 198
                  name: ПДРД ИТС. Проджект ОКО (инженеры)
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5OA
                member:
                  id: 276591
                  name: Ганцевич Юрий Сергеевич
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 31d56672-cb5d-42a6-bf91-e032ac681491
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjc2NTkx
                grouped_into: null
                service_instance:
                  id: 976
                  name: Сопровождение ПТК ОКО
                  localized_name: Сопровождение ПТК ОКО
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTc2
                created_at: 2022-09-14T18:42:40+03:00
                updated_at: 2022-09-15T08:14:50+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NDEx
              - id: 369237
                sourceID: dcd51ac519e641c9b78c79e0378adbf3@mos.ru
                subject: Подключение абонента
                category: rfc
                impact: null
                status: completed
                next_target_at: no_target
                completed_at: 2022-09-14T17:31:03+03:00
                team:
                  id: 198
                  name: ПДРД ИТС. Проджект ОКО (инженеры)
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5OA
                member:
                  id: 276599
                  name: Овечкин Александр Николаевич
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjc2NTk5
                grouped_into: null
                service_instance:
                  id: 976
                  name: Сопровождение ПТК ОКО
                  localized_name: Сопровождение ПТК ОКО
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTc2
                created_at: 2022-09-14T17:06:09+03:00
                updated_at: 2022-09-14T17:31:07+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5MjM3
              - id: 369223
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-14T17:01:01+03:00
                updated_at: 2022-09-14T17:01:28+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5MjIz
              - id: 369221
                sourceID: IM07991176
                subject: Заявка на ноутбуки ГБПОУ ТПСК им. В.М. Максимчука
                category: rfc
                impact: null
                status: change_pending
                next_target_at: 2022-09-21T18:00:00+03:00
                completed_at: null
                team:
                  id: 243
                  name: ПДРД. АНО ЦТ. Авилекс поставка
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzI0Mw
                member: null
                grouped_into: null
                service_instance:
                  id: 1275
                  name: Поставка панелей по договору № 500-474 (Авилекс)
                  localized_name: Поставка панелей по договору № 500-474 (Авилекс)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTI3NQ
                created_at: 2022-09-14T17:00:58+03:00
                updated_at: 2022-09-14T17:02:21+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5MjIx
              - id: 368311
                sourceID: null
                subject: ТО
                category: incident
                impact: low
                status: completed
                next_target_at: no_target
                completed_at: 2022-09-14T16:09:28+03:00
                team:
                  id: 194
                  name: ПДРД ИТС. Бизнес Ай Ти. Печать
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5NA
                member:
                  id: 265953
                  name: Белоусова Дарья Игоревна
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjY1OTUz
                grouped_into: null
                service_instance:
                  id: 963
                  name: ГК 69-У-162.21 Поддержка устройств печати ИАЦСЗ
                  localized_name: ГК 69-У-162.21 Поддержка устройств печати ИАЦСЗ
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTYz
                created_at: 2022-09-14T14:20:27+03:00
                updated_at: 2022-09-14T16:09:28+03:00
                account:
                  id: its
                  name: Техническая Поддержка ДИТ
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY4MzEx
              - id: 368301
                sourceID: null
                subject: ТО
                category: incident
                impact: low
                status: completed
                next_target_at: no_target
                completed_at: 2022-09-14T16:08:56+03:00
                team:
                  id: 194
                  name: ПДРД ИТС. Бизнес Ай Ти. Печать
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5NA
                member:
                  id: 265953
                  name: Белоусова Дарья Игоревна
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjY1OTUz
                grouped_into: null
                service_instance:
                  id: 963
                  name: ГК 69-У-162.21 Поддержка устройств печати ИАЦСЗ
                  localized_name: ГК 69-У-162.21 Поддержка устройств печати ИАЦСЗ
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTYz
                created_at: 2022-09-14T14:18:35+03:00
                updated_at: 2022-09-14T16:08:56+03:00
                account:
                  id: its
                  name: Техническая Поддержка ДИТ
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY4MzAx
              - id: 367815
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-14T12:29:18+03:00
                updated_at: 2022-09-14T12:29:44+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY3ODE1
              - id: 367813
                sourceID: IM07988804
                subject: заявка на ноутбуки
                category: rfc
                impact: null
                status: change_pending
                next_target_at: 2022-09-21T18:00:00+03:00
                completed_at: null
                team:
                  id: 243
                  name: ПДРД. АНО ЦТ. Авилекс поставка
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzI0Mw
                member: null
                grouped_into: null
                service_instance:
                  id: 1275
                  name: Поставка панелей по договору № 500-474 (Авилекс)
                  localized_name: Поставка панелей по договору № 500-474 (Авилекс)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTI3NQ
                created_at: 2022-09-14T12:29:15+03:00
                updated_at: 2022-09-14T12:29:22+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY3ODEz
              - id: 366721
                sourceID: cbe5bac685c64818aff58f974fc1be42@transport.mos.ru
                subject: "22491"
                category: rfc
                impact: null
                status: completed
                next_target_at: no_target
                completed_at: 2022-09-14T09:30:24+03:00
                team:
                  id: 198
                  name: ПДРД ИТС. Проджект ОКО (инженеры)
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5OA
                member:
                  id: 276599
                  name: Овечкин Александр Николаевич
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjc2NTk5
                grouped_into: null
                service_instance:
                  id: 976
                  name: Сопровождение ПТК ОКО
                  localized_name: Сопровождение ПТК ОКО
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTc2
                created_at: 2022-09-14T08:44:50+03:00
                updated_at: 2022-09-14T09:34:41+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY2NzIx
              - id: 365713
                sourceID: null
                subject: VLAN
                category: rfc
                impact: null
                status: completed
                next_target_at: no_target
                completed_at: 2022-09-13T15:15:18+03:00
                team:
                  id: 198
                  name: ПДРД ИТС. Проджект ОКО (инженеры)
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzE5OA
                member:
                  id: 276592
                  name: Вдовин Денис Геннадьевич
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 8f4e7042-1f88-41e4-b86d-257c6e3018e6
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMjc2NTky
                grouped_into: null
                service_instance:
                  id: 976
                  name: Сопровождение ПТК ОКО
                  localized_name: Сопровождение ПТК ОКО
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvOTc2
                created_at: 2022-09-13T14:51:36+03:00
                updated_at: 2022-09-13T15:15:20+03:00
                account:
                  id: its
                  name: Техническая Поддержка ДИТ
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY1NzEz
              - id: 362737
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-12T15:31:57+03:00
                updated_at: 2022-09-12T15:32:23+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzYyNzM3
              - id: 362735
                sourceID: IM07975626
                subject: Заявка на получение ноутбуков.
                category: rfc
                impact: null
                status: change_pending
                next_target_at: 2022-09-19T18:00:00+03:00
                completed_at: null
                team:
                  id: 243
                  name: ПДРД. АНО ЦТ. Авилекс поставка
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzI0Mw
                member: null
                grouped_into: null
                service_instance:
                  id: 1275
                  name: Поставка панелей по договору № 500-474 (Авилекс)
                  localized_name: Поставка панелей по договору № 500-474 (Авилекс)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTI3NQ
                created_at: 2022-09-12T15:31:51+03:00
                updated_at: 2022-09-12T15:33:12+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzYyNzM1
              - id: 362523
                sourceID: null
                subject: Государственное бюджетное образовательное учреждение города
                  Москвы средняя общеобразовательная школа с углубленным изучением
                  английского языка № 19 имени В.Г.Белинского-IM07975171-Работа Аккаунтов
                  - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-12T14:45:46+03:00
                updated_at: 2022-09-12T14:46:12+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzYyNTIz
              schema:
                type: object
          description: OK
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 05 Oct 2022 12:55:14 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-store
                type: string
              style: simple
            X-Pagination-Current-Page:
              explode: false
              schema:
                example: 1
                type: integer
              style: simple
            X-Pagination-Per-Page:
              explode: false
              schema:
                example: 20
                type: integer
              style: simple
            X-Pagination-Total-Pages:
              explode: false
              schema:
                example: 21
                type: integer
              style: simple
            X-Pagination-Total-Entries:
              explode: false
              schema:
                example: 405
                type: integer
              style: simple
            X-Pagination-Start-Cursor:
              explode: false
              schema:
                example: eyJvZmZzZXQiOjAsImN1cnNvciI6WzM3MzkxN119
                type: string
              style: simple
            X-Pagination-End-Cursor:
              explode: false
              schema:
                example: eyJvZmZzZXQiOjE5LCJjdXJzb3IiOlszNjU5NDldfQ==
                type: string
              style: simple
            Link:
              explode: false
              schema:
                example: <https://api.4me-qa.mos.ru/v1/requests?search_after=eyJvZmZzZXQiOjE5LCJjdXJzb3IiOlszNjU5NDldfQ%3D%3D>;
                  rel="next"
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: default-src 'none'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"e61bfb0646e18aa5438015522a5bab11"
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3583
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1664976715
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Root4091307f-ba7e-4b1c-94b2-7e2d8369e0fb
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 193.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
      summary: GetIssuesList (several templates) Copy
      tags:
      - 22. Search
    post:
      parameters:
      - example: "Bearer {{system_user acess token}}"
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "{{X-4me-Account}}"
        explode: false
        in: header
        name: X-4me-Account
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                requested_by: "{{4me user id}}"
                requested_for: "{{4me user id}}"
                service_instance_id: "{{service_instance_id}}"
                subject: "{{subject}}"
                template: "{{request template id}}"
                category: "{{category}}"
                note: "{{some comment or request description}}"
              type: object
      responses:
        "201":
          content:
            application/json:
              example:
                addressed: false
                agile_board: null
                agile_board_column: null
                agile_board_column_position: null
                assignment_count: 1
                attachments: []
                category: rfc
                change:
                  id: 14864
                  subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                ci: null
                ci_id: null
                completed_at: null
                completion_reason: null
                created_at: 2022-07-28T13:13:44+03:00
                created_by:
                  id: 128702
                  name: Пользователь для МЭШ
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTI4NzAy
                custom_fields:
                - id: fio
                  value: Пользователь Школа 123
                - id: telephone
                  value: "+7821112222"
                - id: email
                  value: Shkola@mos.ru
                - id: organization
                  value: ГБУ Школа 123
                - id: adress
                  value: "Москва, ул Рязанская, д. 44"
                - id: incident_id
                  value: SD*******
                desired_completion_at: null
                downtime_end_at: null
                downtime_start_at: null
                grouped_into: null
                grouping: none
                id: 78288
                impact: null
                knowledge_article: null
                major_incident_status: null
                member: null
                new_assignment: true
                next_target_at: 2022-07-28T13:43:44+03:00
                organization:
                  id: 694
                  name: ГАУ Центр цифровизации образования
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9Pcmdhbml6YXRpb24vNjk0
                planned_effort: null
                problem: null
                product_backlog: null
                product_backlog_estimate: null
                product_backlog_position: null
                project: null
                provider_not_accountable: false
                provider_was_not_accountable: false
                reopen_count: 0
                requested_by:
                  id: 4245
                  name: Медведева Мария Михайловна
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requested_for:
                  id: 4245
                  name: Медведева Мария Михайловна
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  sourceID: 77410662-e75a-42bc-bdad-56348af383c5
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vNDI0NQ
                requester_resolution_target_at: 2022-08-01T13:13:00+03:00
                reservation: null
                resolution_duration: null
                resolution_target_at: 2022-08-01T13:13:00+03:00
                response_target_at: 2022-07-28T13:43:44+03:00
                reviewed: true
                satisfaction: null
                service_instance:
                  id: 1336
                  name: Д 500-474/22 Ноутбуки для школ
                  localized_name: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMTMzNg
                source: HPSM
                sourceID: SD00000001
                status: assigned
                subject: Д 500-474/22 Ноутбуки для школ
                supplier: null
                supplier_requestID: null
                task: null
                team:
                  id: 306
                  name: ПДРД ИТС. АВИЛЕКС
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMwNg
                template:
                  id: 1358
                  subject: Д 500-474/22 Ноутбуки для школ
                  localized_subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9SZXF1ZXN0VGVtcGxhdGUvMTM1OA
                updated_at: 2022-07-28T13:13:44+03:00
                urgent: false
                waiting_until: null
                workflow:
                  id: 14864
                  subject: Д 500-474/22 Ноутбуки для школ
                  nodeID: NG1lLXFhLm1vcy5ydS9Xb3JrZmxvdy8xNDg2NA
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvNzgyODg
              schema:
                type: object
          description: Created
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 28 Jul 2022 10:13:45 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 3460
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-store
                type: string
              style: simple
            Location:
              explode: false
              schema:
                example: https://sc-its.4me-qa.mos.ru/requests/78288
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: default-src 'none'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"f4e6ffd002cb5e589175816a098f1109"
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3597
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1659006756
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Rootdc6f994c-5c7c-4555-929e-18a7eae98c9f
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 433.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                message: Invalid JSON string posted
              schema:
                type: object
          description: Bad Request
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 03 Aug 2022 14:16:22 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 40
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3594
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1659537735
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Rootb0ba7143-7491-489b-af23-eec39a8e453d
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 12.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
              schema:
                type: object
          description: Unauthorized
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 03 Aug 2022 14:17:08 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 26
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Roote6e31204-3552-4216-970a-436cee2d30e0
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 155.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
        "422":
          content:
            application/json:
              example:
                message: Validation Failed
                errors:
                - - custom_fields
                  - "Синтаксическая ошибка в пользовательских полях: должен быть м\
                    ассив хэшей, в котором каждый хэш имеет ключи 'id' и 'value'"
              schema:
                type: object
          description: Unprocessable Entity
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 03 Aug 2022 14:17:44 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 275
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-store
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: default-src 'none'
                type: string
              style: simple
            X-RateLimit-Limit:
              explode: false
              schema:
                example: 3600
                type: integer
              style: simple
            X-RateLimit-Remaining:
              explode: false
              schema:
                example: 3592
                type: integer
              style: simple
            X-RateLimit-Reset:
              explode: false
              schema:
                example: 1659537735
                type: integer
              style: simple
            X-Request-Id:
              explode: false
              schema:
                example: Root001d214d-5fd3-48a9-bacc-34d5b13272bd
                type: string
              style: simple
            X-Runtime:
              explode: false
              schema:
                example: 108.000000
                type: number
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=31536000; includeSubDomains; preload
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
        "502":
          content:
            text/plain:
              example: |-
                <html>
                    <head>
                        <title>502 Bad Gateway</title>
                    </head>
                    <body>
                        <center>
                            <h1>502 Bad Gateway</h1>
                        </center>
                        <hr>
                        <center>nginx/1.20.1</center>
                    </body>
                </html>
              schema:
                type: string
          description: Bad Gateway
          headers:
            Server:
              explode: false
              schema:
                example: nginx/1.20.1
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 07 Sep 2022 19:58:36 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: text/html
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 157
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      summary: Create a reservation
      tags:
      - 19. Reservations
  /v1/requests/1/notes:
    get:
      parameters:
      - example: "Bearer {{system_user acess token}}"
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "{{X-4me-Account}}"
        explode: false
        in: header
        name: X-4me-Account
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 370417
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-10-05T15:33:24+03:00
                updated_at: 2022-10-05T15:33:48+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzcwNDE3
              - id: 369757
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: completed
                next_target_at: no_target
                completed_at: 2022-09-23T15:15:52+03:00
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-23T15:08:50+03:00
                updated_at: 2022-09-23T15:15:52+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5NzU3
              - id: 369223
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-14T17:01:01+03:00
                updated_at: 2022-09-14T17:01:28+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY5MjIz
              - id: 367815
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-14T12:29:18+03:00
                updated_at: 2022-09-14T12:29:44+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzY3ODE1
              - id: 362737
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-12T15:31:57+03:00
                updated_at: 2022-09-12T15:32:23+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzYyNzM3
              - id: 362523
                sourceID: null
                subject: Государственное бюджетное образовательное учреждение города
                  Москвы средняя общеобразовательная школа с углубленным изучением
                  английского языка № 19 имени В.Г.Белинского-IM07975171-Работа Аккаунтов
                  - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
                grouped_into: null
                service_instance:
                  id: 2281
                  name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  localized_name: Д 500-474/22 Ноутбуки для школ (ИТС)
                  nodeID: NG1lLXFhLm1vcy5ydS9TZXJ2aWNlSW5zdGFuY2UvMjI4MQ
                created_at: 2022-09-12T14:45:46+03:00
                updated_at: 2022-09-12T14:46:12+03:00
                nodeID: NG1lLXFhLm1vcy5ydS9SZXEvMzYyNTIz
              - id: 362047
                sourceID: null
                subject: Работа Аккаунтов - проверка ДБП
                category: rfc
                impact: null
                status: change_pending
                next_target_at: best_effort
                completed_at: null
                team:
                  id: 31
                  name: ДИТ ИТС. Менеджеры изменений
                  account:
                    id: its
                    name: Техническая Поддержка ДИТ
                  nodeID: NG1lLXFhLm1vcy5ydS9UZWFtLzMx
                member:
                  id: 188
                  name: Менеджер изменений
                  account:
                    id: moscow
                    name: Каталог услуг Правительства Москвы
                  nodeID: NG1lLXFhLm1vcy5ydS9QZXJzb24vMTg4
[...]
